RewriteEngine On

# Redirect requests without .php extension to their corresponding .php files
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# Ensure direct .php access is not needed
# RewriteCond %{THE_REQUEST} "\s/+(.+?)\.php[\s?]" [NC]
# RewriteRule ^ %1 [R=301,L]

# Redirect any .php request to the non-.php version (301 redirect)
RewriteCond %{THE_REQUEST} \s/([^/]+)\.php\s [NC]
RewriteRule ^ /%1 [R=301,L]

# Redirect index.php to the root URL without "index.php"
RewriteCond %{REQUEST_URI} ^/([^/]+)/index.php$ [NC]
RewriteRule ^index.php$ /%1/ [R=301,L]