@import "./variable.scss";
@import "./font.scss";
.about_us_banner_sec{
    padding-top:70px;
    text-align: center;
    .buttons{
        @media screen and (max-width: 991px) {
        margin: 30px auto;
        }
    }
    h2{
        font-size: 42px;
        color: $primary-color;
        @media screen and (max-width: 991px) {
            font-size: 35px;
            text-align: left;
        }
    }
    p{
        font-size: 18px;
        color: $white;
        font-weight: 300;
        padding: 27px 0px 10px;
        margin-bottom: 0px;
        @media screen and (max-width: 991px) {
            text-align: left;
            font-size: 14px;
            padding-top:10px;
        }
    }
    .about_us_banner_img{
        // width: 400px;
        // height: 400px;
        position: relative;
        margin: 50px auto 0px;
        @media screen and (max-width: 991px) {
            width: auto;
            height: auto;
            object-fit: contain;
            margin-top: 25px;
        }
       
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
  
}
.about_us_section{
    .about_us_banner_sec{
        .about_banner_content{
            width: 80%;
            margin: 0 auto;
            @media screen and (max-width: 991px) {
                width: 100%;
            }
        }
    }
    .about_us_heading{
        padding-top: 100px;
        h3{
            font-size: 40px;
            color: $white;
            font-weight: 300;
            margin-bottom: 0px;
            @media screen and (max-width: 991px) {
                text-align: left;
                font-size: 30px;
            }
        }
    }
   
    .about_part{
        height: auto;
        // padding:50px 0px;
        @media screen and (max-width: 991px) {
            .fz-reverse{
                flex-direction: column-reverse;
       }
        }
       
        h5{
            color: $primary-color;
            font-size: 35px;
            text-align: left;
            padding-bottom: 20px;
            @media screen and (max-width: 991px) {
                padding-bottom:20px;
                text-align: center;
            }
        }
        .about_us_images{
            width: 500px;
            height: 500px;
            @media screen and (max-width: 991px) {
                width: auto;
                height: auto;
                margin: 20px auto;
              }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;

                @media screen and (max-width: 991px) {
                    height: auto;
                    width: 200px;
                  }
            }
            .mission_img{
                height:400px;
                @media screen and (max-width: 991px) {
                    height: auto;
                  }
            }
        }
        .col-lg-6{
            display: flex;
            align-items: center;
            justify-content: start;
        }
        .about_us_center_col{
            display: flex;
            align-items: center;
            justify-content: end; 
        }
        .about_us_content{
            color: $white;
            font-size: 16px;
            @media screen and (max-width: 991px) {
               font-size: 14px;
            }
            .buttons{
                width: 172px;
                @media screen and (max-width: 991px) {
                margin: 30px auto;
                }
            }
        }
    }
}
.about_card_sec{
    .dev_card{
        p{
            text-align: center !important;
        }
        .dev_card_logo{
            flex-direction: column !important;
            h4{
                color: $primary-color;
            }
            svg{
                path{
                    fill: $primary-color;
                    stroke:$primary-color;
                }
            }
            span{
                width: 75px;
                height: 75px;
                // background-color: $primary-color;
                padding: 15px;
            }
        }
       
    }
   
}
.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

