@import "./variable.scss";
#fz_mobile_section {
  // padding: 80px 0;
  .fz_mobile_right {
    display: flex;
    img {
      width: 100%;
      
    }
  }
  .fz_mobile_text_left {
    h2 {
      color: $white;
      font-size: 40px;
      font-weight: 700;
      @media screen and (max-width: 991px) {
        text-align: center;
      }
    }
    .fz_sub_title {
      color: $primary-color;
      font-size: 30px;
      padding-bottom: 40px;
      font-weight: 400;
      margin: 0;

      @media screen and (max-width: 991px) {
        text-align: center;
        line-height: 38px;
      }
    }
    .fz_description {
      display: flex;
      align-items: start;
      font-size: 16px;
      font-weight: 300;
      color: $white;
      line-height: 24px;
      margin-bottom: 48px;

      @media screen and (max-width: 991px) {
        margin-bottom: 30px;
        line-height: 22px;
        font-size: 14px;
        align-items: start;
      }
      span {
        background-color: $ternary-color;
        border-radius: 50%;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        min-width: 43px;
        animation: ripple 0.7s linear infinite;
      }
    }
    .fz_btn {
      display: flex;
      margin-left: 70px;

      @media (min-width: 992px) and (max-width: 1400px) {
        margin-left: 0;
        justify-content: center;
      }

      @media screen and (max-width: 991px) {
        margin-left: 0;
        justify-content: center;
      }
      .fz_learmore {
        @include btn-effect;
        @include  active_btn;
      }
      .fz_learmore_btn {
        @include btn-effect;
        margin-left: 20px;
        
      }
    }
  }
}
