@import "./variable.scss";
#fz_mobile_section {
  // padding: 80px 0;
  .fz_mobile_right {
    display: flex;
    border-bottom-right-radius: 40px;
    img {
      position: relative;
      z-index: 2;
      &:first-child {
        z-index: 9;
      }
      &:last-child {
        right: 152px;
      }

      @media screen and (max-width: 991px) {
        height: 460px;
        margin: 15px;
      }
    }
  }
  .fz_mobile_text_left {
    h2 {
      color: $white;
      font-size: 40px;
      font-weight: 700;
      @media screen and (max-width: 991px) {
        text-align: center;
      }
    }
    .fz_sub_title {
      color: $primary-color;
      font-size: 30px;
      padding-bottom: 40px;
      font-weight: 400;
      margin: 0;

      @media screen and (max-width: 991px) {
        text-align: center;
      }
    }
    .fz_description {
      display: flex;
      align-items: start;
      font-size: 16px;
      font-weight: 300;
      color: $white;
      line-height: 24px;
      margin-bottom: 48px;

      @media screen and (max-width: 991px) {
        margin-bottom: 30px;
        line-height: 22px;
        font-size: 14px;
        align-items: start;
      }
      span {
        background-color: $ternary-color;
        border-radius: 50%;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        min-width: 43px;
      }
    }
    .fz_btn {
      display: flex;
      margin-left: 70px;

      @media (min-width: 992px) and (max-width: 1400px) {
        margin-left: 0;
        justify-content: center;
      }

      @media screen and (max-width: 991px) {
        margin-left: 0;
        justify-content: center;
      }
      .fz_learmore {
        @include primaryBg;
        padding: 15px 20px;
        border: 1px solid transparent;
        margin-right: 35px;
        font-weight: 400;
        transition: all 0.5s ease-in;
        width: 180px;
        &:hover {
          background: transparent;
          border: 1px solid $primary-color;
        }
        .hero-join {
          @include hero-join;
        }
        &:hover {
          .hero-join {
            bottom: 12px;
          }
        }

        @media screen and (max-width: 1300px) {
          padding: 13px 20px;
          font-size: 14px; 
          margin-right: 24px;
        }
      }
      .fz_learmore_btn {
        @include primaryBg($theme: $black, $white-color: $primary-color);
        padding: 15px 20px;
        font-weight: 400;
        border: 1px solid $primary-color;
        transition: all 0.3s ease-in;
        width: 180px;
        &:hover {
          background: $primary-color;
          border: 1px solid transparent;
          color: $white;
        }
        .hero-join {
          @include hero-join;
        }
        &:hover {
          .hero-join {
            bottom: 12px;
          }
        }

        @media screen and (max-width: 1300px) {
          padding: 13px 20px;
          font-size: 14px;
        }
      }
    }
  }
}
