@import "./variable.scss";
.fz-blog {
  background-color: $bg-color;

  .container {
    max-width: 85%;
  }

  .blog-carousel {
    text-align: center;
    padding: 66px 0 84px;

    @media screen and (max-width: 991px) {
      padding: 20px 0 30px;
    }

    h3 {
      color: $primary-color;
      font-size: 40px;
      font-weight: 500;
      line-height: 58px;
      @media screen and (max-width: 991px) {
        line-height: 40px;
        font-size: 30px;
      }
    }

    p {
      color: $white;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      @media screen and (max-width: 991px) {
        line-height: 25px;
      }
    }
  }
  .owl-item {
    transform: scale(0.9);
    transition: all 0.7s ease-in;
    &.center {
      transform: scale(1);
      transition: all 0.7s ease-in;
    }
  }

  .item {
    width: 389px;
    height: 483px;
    color: $white;
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
    border-radius: 21px;
    background: linear-gradient(150.11deg, #002c21 3.16%, #86e1cb 94.92%)
      border-box;

    @media screen and (max-width: 1400px) {
      width: auto;
      height: auto;
    }

    &:hover {
      .card-body {
        height: 100%;
        .card-text{
          max-height: 220px;
        }
      }
      img {
        transform: scale(1.1);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 21px;
      transition: all 1s ease-out;
      @media screen and (max-width: 991px) {
        height: 100%;
      }
    }

    .card-body {
      padding: 10px 20px;
      width: 100%;
      border-radius: 0 0 8px 8px;
      margin: 0 auto;
      position: absolute;
      height: 28%;
      bottom: 0px;
      transition: all 1s ease;
      background: linear-gradient(rgb(0 0 0 / 4%), rgb(0 0 0), #000000);
      display: flex;
      flex-direction: column;
      justify-content: end;
      @media screen and (max-width: 991px) {
        width: 100%;
        padding: 0px 25px 30px 24px;
        bottom: -67px;
      }

      h5 {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        padding-bottom: 12px;
        color: $secondary-color;
        margin-bottom: 0px;
        @media screen and (max-width: 991px) {
          font-size: 16px;
          line-height: 22px;
        }
      }

      .card-text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 2rem;
        max-height: 46px;
        overflow: hidden;
        transition: all 1s ease;
        @media screen and (max-width: 991px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
      // .collapsible {
      //   max-height: 46px;
      //   overflow: hidden;
      //   transition: all 0.8s ease-out;
      // }

      // .collapsible.expanded {
      //   max-height: 220px;
      // }

      // .card-top-title {
      //   display: flex;
      //   justify-content: space-between;
      //   font-size: 16px;
      //   font-weight: 500;
      //   line-height: 18px;
      //   padding: 34px 0 28px 0;

      //   @media screen and (max-width: 991px) {
      //     padding: 15px 0 10px 0;
      //   }
      // }
      // button {
      //   color: $primary-color;
      //   border-radius: 32px;
      //   font-size: 14px;
      //   padding: 0;
      //   margin-bottom: 10px;
      //   background: transparent !important;
      //   border: none;
      //   &:hover {
      //     color: $secondary-color;
      //   }
      // }
      // .read-more-btn.less {
      //   color: $primary-color; /* Green color for "Read less" */
      //   &:hover {
      //     color: $secondary-color;
      //   }
      // }
    }
  }

  .owl-carousel {
    // .owl-item {
    //   pointer-events: none; /* Prevent interactions on non-visible slides */
    // }
    // .owl-item.active {
    //   pointer-events: auto; /* Allow interactions on visible slides */
    // }
    .owl-stage {
      display: flex;
      align-items: center;
    }
    .owl-nav {
      display: flex;
      justify-content: center;
      gap: 170px;
      position: relative;
      margin-top: 50px;
      .custom-prev,
      .custom-next {
        font-size: 16px;
        font-weight: 500;
        color: $white;
        cursor: pointer;
        transition: all 0.3s ease;
        justify-content: center;
        &::after,
        &::before {
          content: "";
          width: 80px;
          height: 2.27px;
          justify-content: center;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .custom-prev {
        color: $primary-color;
        &:hover {
          color: $white;
        }
        &::after {
          background: $primary-color;
          left: 47%;
        }
      }
      .custom-next {
        color: $white;
        &:hover {
          color: $primary-color;
        }
        &::before {
          background: $white;;
          left: 53%;
        }
      }
    }
  }
}
