@import "./variable.scss";
.fz-blog {
  background-color: $bg-color;

  .container {
    max-width: 85%;
  }

  .blog-carousel {
    text-align: center;
    padding: 66px 0 84px;

    @media screen and (max-width: 992px) {
      padding: 66px 0 30px;
    }

    h3 {
      color: $primary-color;
      font-size: 40px;
      font-weight: 500;
      line-height: 58px;
    }

    p {
      color: $white;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      @media screen and (max-width: 991px) {
        line-height: 25px;
      }
    }
  }
.owl-item{
  transform: scale(0.9);
  transition: all 0.7s ease-in;
  &.center{
    transform: scale(1);
    transition: all 0.7s ease-in;
  }
}

  .item {
    width: 389px;
    height: 483px;
    color: $white;
    overflow: hidden;
    position: relative;
    border: 1px solid transparent; 
    border-radius:21px;
    background: linear-gradient(150.11deg, #002C21 3.16%, #86E1CB 94.92%) border-box;
    
    
    &:hover {
      .card-body{
        bottom:0px;
      }
      img {
        transform: scale(1.1);
      }
    }
    

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 21px;
      transition: all 1s ease-out;
      @media screen and (max-width: 991px) {
        height: 100%;
      }
    }

    .card-body {
      padding:10px 20px;
      width: 100%;
      border-radius: 0 0 8px 8px;
      margin: 0 auto;
      position: absolute;
      bottom: -46px;
      transition: all 0.6s ease-out;
      background: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 69%), #000000);
      @media screen and (max-width: 991px) {
        width: 100%;
        padding: 0px 25px 30px 24px;
      }

      h5 {
        font-size: 22px;
        line-height: 30px;
        font-weight: 500;
        padding-bottom: 12px;
        color:$secondary-color;
        margin-bottom: 0px;
      }

      .card-text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }

      .card-top-title {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        padding: 34px 0 28px 0;

        @media screen and (max-width: 991px) {
          padding: 15px 0 10px 0;
        }
      }
      button{
        color: #3EAB90;
        border-radius: 32px;
        font-size: 14px;
        padding: 0;
        margin-bottom: 10px;
        background: transparent !important;
        border: none;
        &:hover{
          color: $secondary-color;
        }
      }
    }
  }

  .owl-carousel {
    .owl-stage {
      display: flex;
      align-items: center;
    }
    .owl-nav {
      display: flex;
      justify-content: end;
      gap: 190px;
      position: relative;
      margin-top: 50px;
      .custom-prev,
      .custom-next {
        font-size: 16px;
        font-weight: 500;
        color: $white;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
      &::after, &::before {
        content: "";
        width: 80px;
        height: 2.27px;
        position: absolute;
      }
      &::after {
        background: $white;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 8px;
        @media screen and (max-width: 991px) {
          justify-content: center;
        }
      }

      &::before {
        background: $primary-color;
        top: 50%;
        left: 87%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 991px) {
          left:60%;
        }
      }
      .custom-prev {
        color: $primary-color;
      }
      .custom-next {
        color: $white;
      }

      @media screen and (max-width: 991px) {
        justify-content: center;
      }
    }
  }
}