@import "./variable.scss";
#contact_us {
    padding-top: 120px;
    .get-started {
        width: 100%;
        // display: flex;
        // justify-content: end;
        margin-bottom: 72px;
        @media screen and (max-width: 991px) {
            width: 100%;
            margin-bottom: 12px;
            justify-content: flex-start;
        }
        h1 {
            color: #fff;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 80px;
            text-align: center;
            font-weight: 700;
            line-height: 80px;
            @media (min-width: 992px) and (max-width: 1199px) {
               font-size: 60px;
            }
            @media screen and (max-width: 991px) {
                font-size: 40px;
                line-height: 48px;
            }
        }
    }
    .contact_sub_cont {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 991px) {
            flex-direction: column;
        }
        @media screen and (max-width: 1199px) {
        .modal-img{
            width: 70% !important;
            margin: 0 auto;
        }
    }
        .form-wrapper {
            width: 50%;
            color: #fff;
            margin-bottom: 122px;
            @media screen and (max-width: 991px) {
                width: 100%;
                margin-bottom: 40px;
            }
            .form_group {
                position: relative;
                margin-bottom: 32px;
                .field-label{
                    @include field-label
                }
                input, textarea {
                    &:focus {
                        border: solid 1px transparent;
                        --main-bg: conic-gradient(from var(--border-angle), #000 0%, rgb(0, 0, 0) 100%);
                        --gradient-border: conic-gradient(from var(--border-angle), transparent 10%, #05311d, #3EAB90 49%, transparent);
                        background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
                        animation: bg-spin 2s linear infinite;
                        @keyframes bg-spin {
                            to {
                            --border-angle: 1turn;
                            }
                        }
                    }
                }
                
                .text-field-3 {
                    @include text-field-3
                }
            }
            .comment-wrapper {
                position: relative;
                height: 146px;
                margin-bottom: 60px;
                .field-label{
                    @include field-label
                }
                .texteria {
                    resize: none;
                    height: auto !important;
                    @include text-field-3;
                }
            }
            .fz_submit{
                @include btn-effect;;
            }

        }
        /* error message styles */
        .error {
            color: red;
            font-size: 12px;
            padding: 0px;
            margin-bottom: -5px;
            position: absolute;
            bottom: -25%;
            left: 0;
        }
        .model {
            width: 525px;
            height: 525px;
            @media screen and (max-width: 991px) {
                width: 425px;
                height: 425px;
            }
            @media screen and (max-width: 600px) {
                width: 325px;
                height: 325px;
            }
        }
    }
}
