@import './variable.scss';
.footer_section{
    // background: linear-gradient(359.8deg, rgba(26, 50, 48, 0.46) 5.16%, rgba(62, 171, 144, 0.22) 99.83%);
    background: linear-gradient(359.8deg, rgb(0 0 0 / 46%) 5.16%, rgb(97 97 97 / 22%) 99.83%);;
    background-color: $black;
    padding: 200px 0px 0;
    @media screen and (max-width:992px) {
        padding: 60px 0px 0; 
    }
    .col-lg-4 {
        .footer_logo{
            width: 150px;
            height: 50px;

            @media screen and (max-width:992px) {
                margin: 0 auto;
            }
            img{
                width: 100%;
                height: 100%;
            }
            svg path {
                fill: #3eab90;
            }
        }
        
        p{
            color: $white;
            padding: 20px 0px 10px;
            font-weight: 400;
            font-size: 14px;
            @media screen and (max-width:991px) {
                text-align: center;
            }
        }
        a{
            color: $white;
            text-decoration: none;
            padding-top: 10px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            @media screen and (max-width:991px) {
                text-align: center;
                display: inline-block;
                width: 100%;
                padding-top: 0px;
              
                
            }
        }
        .footer_num_email{
            @media screen and (max-width:991px) {
                padding-top: 5px;
                padding-bottom: 10px;
            }
            
        }
    }
    .col-lg-2{
        padding-left:20px;
    }
    h5{
        color: $white;
        font-size: 22px;
        line-height: 24px;
        font-weight: 500;
        padding-bottom: 20px;
        @media screen and (max-width:991px) {
            padding-top: 20px;
            padding-bottom: 0px;
        }
    }
    ul{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }
    li{
        padding: 5px 0px;
        @media screen and (max-width: 991px) {
            padding: 0px;
          }
        a{
            color: $white;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-decoration: none;
            transition: all 0.5s ease;
                    &:hover {
                        margin-left: 4px;
                      color: $secondary-color;
                    }
        }
    }
    .copy_rights{
        display: flex;
        justify-content: space-between;
        padding: 60px 0px;
        align-items: center;
        .copy_rights_1{
            color: $white;
            p{
                margin: 0;
                font-size: 14px;
            }
            ul{
                li{
                    display: inline-block;
                    padding: 0px 5px;
                }
            }
            &.fz_social_icon {
                a {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    background: $tertiary-color;
                    line-height: 35px;
                    &:hover{
                        background: $secondary-color;
                    }
                }
            }
            &:nth-child(2),  &:nth-child(3) {
                ul {
                    li {
                        a {
                            &:hover{
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:991px) {
        .copy_rights{
            flex-direction: column;
            text-align: center;
            padding: 40px 0px;
        }
        ul{
            margin-bottom:20px;
        }
       
      }

}


/* =======scroll====top===== */
#scroll_top {
	display: inline-block;
	background-color: #3EAB90;
	width: 35px;
	height: 35px;
	text-align: center;
	border-radius: 50%;
	position: fixed;
	bottom: 100px;
	right: 10px;
	transition: background-color .3s,
		opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	&::after {
		display: none;
	}
	.black_arrow{
		display: none;
	  }
	&:hover {
		cursor: pointer;
		background-color: #FFFFFF;
		border: 2px solid #3EAB90;
		.black_arrow{
			display: block;
		}
		.white_arrow{
			display: none;
		}
	}
	
	&:active {
		background-color: #FFFFFF;
	}
	&.show {
		opacity: 0.3;
		visibility: visible;
        &:hover{
            opacity: 1;
        }
	}
    svg {
        width: 20px;
    }
}
