@import "./variable.scss";

body {
  background-color: $bg-color;
  overflow-x: hidden;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #000000;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #000000;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
header {
  padding: 0px 40px;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: #d6ca8a;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: rgba(3, 0, 20, .08);

  @media (max-width: 991px) {
      padding:0px;
  }
  

  @media (min-width: 992px) and (max-width: 1300px) {
      
  padding:0px;
}
.navbar-brand svg path {
  fill: #22feb3;
}

  // Mobile View
  @media screen and (max-width: 991px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn-close {
        background-color: transparent;
        border: none;
        opacity: 1;

        &::before {
          content: "\2715";
          color: $primary-color;
          font-size: 1.5rem;
          display: inline-block;
          line-height: 1;
        }
      }
      
      .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $bg-color;
        z-index: 999;
        padding: 15px 0;
        border-top: 1px solid $gray-color;

        ul.navbar-nav {
          flex-direction: column;
          align-items: flex-start;
          padding: 0;

          li {
            width: 100%;
            text-align: left;

            a {
              display: block;
              padding: 10px 20px;
              color: $white;
              font-size: 16px;
              text-transform: capitalize;

              &:hover {
                background-color: $tertiary-color;
              }
            }
          }
        }
      }

      .navbar-toggler {
        background-color: transparent;
        border: none;

        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
      }
      #offcanvasNavbar {
        background-color: #000;
        width: 100%;
        .offcanvas-header {
          border-bottom: 1px solid #ddd;
        } 
      }
    }

  }
  
  // Navbar for larger screens
  .navbar-expand-lg {
    .navbar-nav {
      flex: 1;
      justify-content: flex-end;
      padding: 10px;

      @media (min-width: 992px) and (max-width: 1300px) {
      
               justify-content: space-between;
               padding: 10px 10px;
      }

      li {
        padding: 0px 15px;
        font-size: 14px;
        a.nav-link {
          font-weight: 400;
          color:$white;
          position: relative;
          transition: all 0.5s ease;
          &::after {
            display: block;
            content: '';
            border-bottom: solid 2px $secondary-color;
            transform: scaleX(0);
            transition: transform 500ms ease-in-out;
          }
          &:hover {
            color: $secondary-color;
            &:after {
              transform: scaleX(1);
            }
          }
        }
        @media (min-width: 992px) and (max-width: 1300px) {
          font-size: 14px;
          padding: 10px 10px;
        }
        @media screen and (max-width: 991px) {
          padding: 10px 5px;
          color:$white;
       }

      }
    }
  }

  .fz_sigin {
    @media screen and (max-width: 991px) {
     justify-content: center;
  }
    ul {
      display: flex;
      align-items: center;

      li {
        display: inline-block;
        .tele_img{
          width: 20px;
          height: 20px;
          object-fit: contain;
          padding-left: 3px;
        }
        a {
          span{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            svg{
              width: 15px;
              margin-left: 7px;
              path{
                fill: #fff;
              }
            }
          }
          color: $white;
          font-size: 14px;

          text-decoration: none;

          @media (min-width: 992px) and (max-width: 1300px) {
            font-size: 14px;
          }
        }

        &:nth-child(2) {
          border-left: 1px solid $primary-color;
          padding-left: 15px;
          margin-left: 15px;
          @media screen and (max-width: 991px) {
           border: none;
        }
          
          @media (min-width: 992px) and (max-width: 1300px) {
            padding-left: 10px;
          }
        }

        &:last-child {
          margin-left: 15px;

          @media (min-width: 992px) and (max-width: 1300px) {
            margin-left: 0; // Remove margin-left
            padding-left: 10px; // Minimal padding instead
           }

          a {
            background-color: $tertiary-color;
            padding: 10px 15px;
            border-radius: 35px;
            border: 1px solid $white;
            --border-angle: 0turn;

            // --main-bg: conic-gradient(
            //   from var(--border-angle),
            //   #1a2c2a 0%,
            //   #1a2c2a 100%
            // );
            --main-bg:conic-gradient(from var(--border-angle), #007164 0%, #007264 100%);
            border: solid 1px transparent;

            --gradient-border: conic-gradient(
              from var(--border-angle),
              transparent 50%,
              #f7c35f,
              #3eab90 99%,
              transparent
            );
            background: var(--main-bg) padding-box,
              var(--gradient-border) border-box, var(--main-bg) border-box;
            background-position: center center;

            animation: bg-spin 4s linear infinite;

            @keyframes bg-spin {
              to {
                --border-angle: 1turn;
              }
            }
          }
        }
      }
      .unlock{
        a{
          &:hover{
            color: $secondary-color;
            svg{
              path{
                fill: $secondary-color;
              }
            }
          }
        }
       
      }
      @media screen and (max-width: 991px) {
          img{
            display: none;
          }
      }
    }
  }
}
.offcanvas-backdrop{
  position: relative;
}

.buttons {
  @include btn-effect;
}

// .buttons {
// 	--w: 180px;
//     --h: 50px;
//     --icon-size: 25px;
//     --text-color: rgb(210 210 240);
//     --box-glow-color: transparent;
//     --box-glow-blur: 20px;
//     --color: #00afaf85;
//     position: relative;
//     min-width: var(--w);
//     min-height: var(--h);
//     border-radius: var(--h);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border: none;
//     color: var(--text-color);
//     background: rgb(4 8 20 / 0.8);
//     box-shadow: 0px 3px 0 0px #017f53, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
//     overflow: hidden;
//     cursor: pointer;
//     transition: box-shadow 500ms ease;
//     z-index: 2;
//     font-size:15px;
//     border: 1px solid #3eab9091;
// }

// .buttons::before {
// 	content: "";
// 	position: absolute;
// 	inset: 0;
// 	background:#0d1918;
// 	box-shadow: inset 0 0px 24px 0 rgb(170 230 250 / 0.12);
// 	border-radius: var(--h);
// 	z-index: 1;
// 	transition: transform 500ms ease, box-shadow 500ms ease;
// }

// .buttons .text,
// .buttons .icon {
// 	z-index: 2;
// }

// .buttons .text {
// 	transform: translateX(-20%);
// 	transition: transform 500ms ease;
// }

// .buttons .icon {
// 	position: absolute;
// 	width: var(--icon-size);
// 	height: var(--icon-size);
// 	left: 0;
// 	transform: translateX(calc((var(--w)) / 2 + 40px));
// 	transition: transform 500ms ease, color 500ms ease;
// }
// .buttons svg {
// 	width: 70%;
// 	height: 100%;
// 	fill: currentColor;
// }

// .buttons:active {
// 	--box-glow-blur: 36px;
// }
// .buttons:hover,
// .buttons:active {
// 	--box-glow-color: var(--color);
// }
// .buttons:hover::before,
// .buttons:active::before {
// 	transform: translateX(72%);
// 	box-shadow: inset 0 0px 0px 0 transparent;
// }
// .buttons:hover .text,
// .buttons:active .text {
// 	transform: translateX(-25%);
// 	animation-play-state: running;
// }
// .buttons:hover .icon,
// .buttons:active .icon {
// 	transform: translateX(calc(var(--w) - var(--icon-size) - 15px));
// 	color: var(--color);
// }

// .buttons:focus-visible {
// 	outline: none;
// }
// .buttons:focus-visible:not(:hover, :active) {
// 	--box-glow-color: rgb(114 114 114 / 0.5);
// }
