@import './variable.scss';
body {
    background-color: $bg-color;
}
header {
    padding: 30px 40px;
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    .navbar-expand-lg {
        .navbar-nav {
            flex: 1;
            justify-content: center;

            li {
                a.nav-link {
                    font-size: 16px;
                    padding: 0 20px;
                    color: $white;
                    position: relative;
                }
            }
        }
    }
    .fz_sigin {
        ul {
            display: flex;
            align-items: center;
            li {
                display: inline-block;
                a {
                    color: $white;
                    font-size: 16px;
                    text-decoration: none;
                }
                &:nth-child(2) {
                    border-left: 1px solid $gray-color;
                    padding-left: 45px;
                    margin-left: 15px;
                }
                &:last-child {
                    margin-left: 22px;
                    a {
                        background-color: $tertiary-color;
                        padding: 12px 20px;
                        border-radius: 5px;
                        border: 1px solid $white;
                        --border-angle: 0turn;
                        --main-bg: conic-gradient(
                            from var(--border-angle),
                            #1A2C2A 0%,  
                            #1A2C2A 100%
                            );
                        border: solid 1px transparent;
                        --gradient-border: conic-gradient(from var(--border-angle), transparent 50%, #F7C35F, #3EAB90 99%, transparent);
                        background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
                        background-position: center center;
                        animation: bg-spin 4s linear infinite;
                        @keyframes bg-spin {
                            to {
                            --border-angle: 1turn;
                            }
                        }
                    }
                    @property --border-angle {
                        syntax: "<angle>";
                        inherits: true;
                        initial-value: 0turn;
                    }
                }
            }
        }
    }
}


