@import './variable.scss';
.newsletter_section{
    background-color: $black;
    text-align: center;
    padding:0px 0px 0;
    @media screen and (max-width:991px) {
        padding-bottom: 30px;
       }
    h3{
        color: $primary-color;
        font-size: 50px;
        font-weight: 500;
        line-height: 70.31px;
        margin-bottom: 0px;
        @media screen and (max-width:991px) {
          font-size: 35px;
          line-height: 42px;
         }
    }
    h5{
    font-size: 35px;
    font-weight: 400;
    line-height: 30px;
    color: $white;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 15px;
    @media screen and (max-width:991px) {
      font-size: 30px;
      line-height: 40px;
     }
    }
    .input-group{
    width: 636.71px;
    height: 71px;
    gap: 0px;
    border-radius: 0px 8px 8px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin: 0 auto;
    margin-top: 72px;
    border: none;
    @media screen and (max-width:991px) {
      width: auto;
      margin-top: 40px;
    }
    button{
        background-color: $primary-color !important;
        width: 165px;
        height: 71px;
        gap: 0px;
        border-radius: 0px 8px 8px 0px;
        opacity: 0px;
        @media screen and (max-width:991px) {
            width: auto;
            font-size: 16px;
          }
    }
    .form-control{
      font-size: 16px;
    }
    }
}
