@import "./variable.scss";
$font-style: "Montserrat", sans-serif;
.fz_product_sec {
//   background-color: #1a2c2a;
  position: relative;
  z-index: 0;
  .fz_container {
    background-color: $tertiary-color;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    @media only screen and (max-width: 720px) {
       display: block;
      }
    .fz_sub_container {
      display: flex;
      height: 100vh;
      gap: 260px;
      padding: 92px 100px;
      @media only screen and (max-width: 1600px) {
        gap: 160px;
      }
      @media only screen and (max-width: 1440px) {
        gap: 94px;
        padding: 92px 60px;
      }
      @media only screen and (max-width: 1280px) {
        gap: 24px;
        padding: 30px 16px;
      }
      @media only screen and (max-width: 720px) {
        display: block;
        gap: 16px;
       }
      .fz_content {
        position: relative;
        width: 620px;
        @media only screen and (max-width: 720px) {
            width: 100%;
           }
        &:after {
          content: "";
          position: absolute;
          width: 676px;
          height: 676px;
          top: 5px;
          left: -12px;
          background-color: #20918182;
          border-radius: 50%;
          filter: blur(152px);
          transform: translate3d(0, 0, 0);
          z-index: -1;
        }
        .fz_num {
          padding-bottom: 16px;
          h3 {
            font-family: "Montserrat", sans-serif;
            font-size: 128px;
            font-weight: 600;
            color: $white;
          }
        }
        .fz_title {
          font-family: $font-style;
          font-size: 36px;
          font-weight: 700;
          color: $secondary-color;
          padding-bottom: 16px;
        }
        .fz_subtitle {
          font-family: $font-style;
          font-size: 36px;
          font-weight: 700;
          color: $primary-color;
          padding-bottom: 20px;
        }
        .fz_bank {
          font-family: $font-style;
          font-size: 20px;
          font-weight: 600;
          color: $white;
          padding-bottom: 32px;
          line-height: 32px;
        }
        .fz_desc {
          font-family: $font-style;
          font-size: 16px;
          font-weight: 400;
          color: $white;
          padding-bottom: 32px;
          line-height: 26px;
        }
        .fz_btn button {
          font-family: "Roboto";
          font-size: 16px;
          font-weight: 400;
          background-color: $primary-color;
          color: $white;
          padding: 14px 64px;
          border-radius: 32px;
          border: none;
          cursor: pointer;
        }
      }
      .fz_img-sec {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 366px;
          height: 330px;
          top: 290px;
          right: 50px;
          background: #24a7af;
          filter: blur(212px);
          transform: translate3d(0, 0, 0);
        
        }
        .fz_img {
          position: relative;
          .image_1 {
            opacity: 0.3;
            @media only screen and (max-width: 720px) {
                width: 100%;
                // height: 100%;
               }
          }
          .core_img {
            position: absolute;
            top: 0;
            left: 42px;
            @media only screen and (max-width: 720px) {
                width: 100%;
                left: 0px;
               }
          }
          .bank_img {
            position: absolute;
            bottom: 54px;
            left: 146px;
            @media only screen and (max-width: 720px) {
                width: 100%;
                left: 0px;
                bottom: 0;
               }
          }
          .payunity_img {
            position: absolute;
            bottom: 88px;
            left: 144px;
            @media only screen and (max-width: 720px) {
                width: 100%;
                left: 0px;
                bottom: 0;
               }
          }
          .translinker_img {
            position: absolute;
            bottom: 80px;
            left: 142px;
            @media only screen and (max-width: 720px) {
                width: 100%;
                left: 0px;
                bottom: 0;
               }
          }
          .flowgate_img {
            position: absolute;
            top: 100px;
            left: 146px;
            @media only screen and (max-width: 720px) {
                width: 100%;
                left: 0px;
                bottom: 0;
               }
          }
        }
      }
    }
  }
}
