@import './variable.scss';
.features_posibilityies{
    padding: 0;
    background-color: #000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    overflow: hidden;
    height: 100vh;

    @media screen and (max-width:768px) {
        height:auto;
       }

    .container {
        position: relative;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width:768px) {
            width:100%;
           }
        .texts {
            height: 100vh;
            width: 100%;
            margin: 0 auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 125px;
            img {
                @media screen and (max-width: 1440px) {
                    height: 1100px;
                }
            }
        }
    
        .inner-text {
            position: absolute;
            margin: 0 auto;
            height: 100vh;
            width: 100%;
            z-index: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            .left {
                img {
                    @media screen and (max-width: 1440px) {
                        height: 1200px;
                    }
                }
            }  
            .right {
                img {
                    @media screen and (max-width: 1440px) {
                        height: 1150px;
                    }
                }
            }  
            
            .left, .right {
             
                
                &.left {
                    text-align: right;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    position: relative;
                  
                }
    
                &.right {
                    text-align: left;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    position: relative;
                   
                }
            }
           
        }
        .dd {
            position: absolute;
            left: 0px;
            right: 0px;
            translate: none;
            rotate: none;
            scale: none;
            transform: translate(0px, 0px);
            opacity: 1;
        }
        h2{
            font-weight: bolder;
            font-size: 50px;
            color: #ddd;
            text-transform: uppercase;
        }
        // h3{
        //     font-weight:200;
        //     font-size: 75px;
        //     color: #ddd;
        //     text-transform: capitalize;
            
        //     @media screen and (max-width:768px) {
        //         font-size: 40px;
        //        }
        // }
        h3 {
            font-weight: 200;
            font-size: 65px;
            color: #ddd;
            text-transform: capitalize;
            display: flex;
            justify-content: center;
            p {
              width: 600px;
              text-shadow: 0 0 15px rgba(0, 255, 227, 0.14),
          0 0 20px rgba(0, 255, 227, 0.11), 0 0 40px rgba(0, 255, 203, 0.52),
          0 0 10px rgba(0, 255, 211, 0.51);
        color: #4dd0b1;
              @media screen and (max-width: 768px) {
                width: 100%;
              }
            }
      
            @media screen and (max-width: 768px) {
              font-size: 40px;
            }
          }
    }
}





