@import "./variable.scss";

.fz_product_sec {
  position: relative;
  z-index: 0;

  .container {
    display: flex;
    justify-content: space-between;
  //   @media (min-width: 1200px) and (max-width: 1400px) {
  //     display: inline-flex;
  //     padding-left: 30px;
  //  }
    .fz_product_left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 178px;
      gap: 24px;
      .fz_sub_container {
        display: flex;
        height: 100vh;
        @media only screen and (max-width: 992px) {
          height: auto;
          flex-direction: column;
          gap: 24px;
        }
        .fz_content {
          position: relative;
          width: 620px;

          @media only screen and (max-width: 1200px) {
            width: 400px;
          }
          @media only screen and (max-width: 992px) {
            width: 100%;
          }
          .fz_num {
            display: flex;
            transition: all 0.5s ease-in;
            h2 {
              font-family: "Montserrat", sans-serif;
              font-size: 60px;
              font-weight: 600;
              color: $black;
              padding-top: 10px;
              margin: 0;
              -webkit-text-stroke: 1px #1ca999;
              text-stroke: 1px #1ca999;
              @media only screen and (max-width: 1200px) {
                font-size: 30px;
                padding-top: 5px;
              }
            }
          }
          .fz_title_content {
            display: inline-flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            h3 {
              line-height: 75px;
              font-size: 128px;
              font-weight: 600;
              color: #ffffff;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              margin: 0;

              @media screen and (max-width: 1200px) {
                font-size: 80px;
              }
            }
          }

          .fz_title {
            font-size: 36px;
            font-weight: 700;
            line-height: 49px;
            color: #34b195;
            padding-bottom: 2px;
          }

          .fz_subtitle {
            font-size: 12px;
            font-weight: 300;
            line-height: 26px;
            color: #f8d796;
            border: 1px solid #f7c35f3b;
            border-radius: 20px;
            background: #19875408;
            display: inline-flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 5px 20px;
            margin-bottom: 0px;

            @media screen and (max-width: 1200px) {
              line-height: 40px;
            }
          }

          .fz_bank {
            font-size: 20px;
            font-weight: 400;
            color: #ffffff;
            padding-bottom: 15px;
            line-height: 30px;
            letter-spacing: 0.25px;
          }

          .fz_desc {
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            padding-bottom: 26px;
            line-height: 26px;
            letter-spacing: 0.25px;
          }

          // .fz_btn button {
          //   @include primaryBg;
          //   font-size: 16px;
          //   font-weight: 400;
          //   padding: 15px 20px;
          //   border-radius: 32px;
          //   border: none;
          //   cursor: pointer;
          //   position: relative;
          //   overflow: hidden;
          //   display: flex;
          //   width: 180px;

          //   &:hover {
          //     background-image: linear-gradient(180deg, #3eab90 0%, #003224 100%);
          //   }

          //   .hero-join {
          //     @include hero-join;
          //   }

          //   &:hover {
          //     .hero-join {
          //       bottom: 12px;
          //     }
          //   }
          // }
        }
      }

      .fz_img {
        display: none;

        @media screen and (max-width: 992px) {
          display: block;
        }
      }
    }

    .fz_product_right {
      display: flex;
      justify-content: flex-end;
      padding-top: 178px!important;

      @media screen and (max-height: 768px) {
          padding-top: 110px!important;

      }
      @media screen and (max-width: 992px) {
        display: none;
      }

      .fz_product_images {
        width: 525px;
        height: 525px;
        position: relative;
        .fz_product_image {
          position: absolute;
          width: 100%;
          height: 100%;
          box-shadow: #0c83e7;

          svg {
            width: 100%;
            height: 100%;
          }
          @media (min-width: 992px) and (max-width: 1400px) {
            .finbankz-product svg{
              width:80% !important;
              margin-left: 30px;
         }
            .finlyticz-product svg{
                 width:80% !important;
                 margin-left: 40px;
            }
          }
        }
      }
    }
  }
}
div.product-icon {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  margin-left: -20px;
}
