body {
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  section {
    background: linear-gradient(90deg, #000000, #000e0e)
  }

  @import "./variable.scss";

// Product Hero section
#fz_product_list_hero_sec {
    position: relative;
    // padding-bottom: 96px;
    canvas {
        position: absolute;
        width: 100%;
        display: flex;
        height: 100%;
        opacity: 0.7;
    }
    .product_list_hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        z-index: 9;
        padding-bottom: 100px;
        @media screen and (max-width: 991px) {
         padding-bottom: 16px;
        }
        .product_list_hero_title {
            font-size: 64px;
            font-weight: 500;
            line-height: 96px;
            letter-spacing: 1px;
            text-align: center;
            color: #F6FCDF;
            padding: 196px 100px 52px;
            span {
                color: #00B2B1;
            }
            @media screen and (max-width: 1199px) {
              line-height: 82px;
            }
            @media screen and (max-width: 991px) {
              padding: 100px 0px 20px 0px;
              line-height: 42px;
              font-size: 36px;
            }
        }
        .cmn-btn {
            @include cmn-btn;
            width: 162px !important;
            --w: 188px !important;
        }
    }
}

// Banner section
#fz_product_list_banner_sec {
    .fz_product_list_banner_img, svg {
        width: 100%;
        height: 100%;
    }
}

// Feature Card
  #fz_product_list_feature {
    position: relative;
    overflow: hidden;
    .product_list_feature_head {
        h3 {
            font-size: 192px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            text-shadow: 0 0 5px rgba(0, 255, 203, 0.52),
                0 0 10px rgba(0, 255, 211, 0.51);
            // text-shadow: 0 0 0px rgb(193 251 234), 0 0 4px rgba(0, 255, 211, 0.51);
            -webkit-text-stroke: 1px $white;
            text-stroke: 1px $white;
            -webkit-text-fill-color: #101111;
            text-fill: #101111;
            margin-top: 96px;
            margin-bottom: 0px;

            @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 100px;
           }

            @media screen and (max-width: 991px) {
              font-size: 48px;
              letter-spacing: 0.5px;
              margin-top: 72px;
              -webkit-text-stroke: 0.3px $white;
              text-shadow: 0 0 2px rgba(0, 255, 203, 0.52),
              0 0 5px rgba(0, 255, 211, 0.51);
            }
        }

        h4 {
            color: #d9d9d9;
            font-size: 144px;
            font-weight: 400;
            line-height: 1.4;
            text-align: center;
            text-shadow: 0 0 1px #38fdb5ae, 0 0 4px #38fdb56e, 0 0 5px #38fdb54f,
                0 6px 1px #38fdb549, 0 0 5px #38fdb536, 0 1px 3px #38fdb525,
                0 3px 5px #38fdb510, 0 1px 4px #38fdb50f, 0 0px 8px #38fdb50e,
                0 0px 10px #38fdb500;

                @media (min-width: 992px) and (max-width: 1199px) {
                  font-size: 80px;
             }
                
            @media screen and (max-width: 991px) {
              font-size: 44px;
              text-shadow: 0 0 1px rgba(56, 253, 181, 0.6823529412), 0 0 4px rgba(56, 253, 181, 0.431372549), 0 0 5px rgba(56, 253, 181, 0.3098039216), 0 3px 1px rgba(56, 253, 181, 0.2862745098), 0 0 3px rgba(56, 253, 181, 0.2117647059), 0 1px 1px rgba(56, 253, 181, 0.1450980392), 0 3px 2px rgba(56, 253, 181, 0.062745098), 0 1px 2px rgba(56, 253, 181, 0.0588235294), 0 0px 4px rgba(56, 253, 181, 0.0549019608), 0 0px 5px rgba(56, 253, 181, 0);
            }
        }
    }

    .product_list_feature_cards {
        position: relative;
        display: grid;
        grid-gap: 48px;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        // grid-auto-rows: 200px;
        grid-auto-flow: dense;
        overflow: hidden;
        padding: 50px 0px 96px;

        @media screen and (max-width: 991px) {
          display: block;
          padding: 0;
        }
        .product_list_feature_card {
            position: relative;
            border: 1px solid #ffffff14;
            border-radius: 32px;
            box-shadow: 0px 1px 0px 0px #ffffff14 inset;
            padding: 1px;
            overflow: hidden;
            @media screen and (max-width: 1199px) {
              border: none;
              padding: 0;
            }
            @media screen and (max-width: 991px) {
              margin: 30px 10px;
              border-radius: 16px;
              // border: none;
              // padding: 0;
            }

            &:nth-child(4) {
                top: -58%;
                left: 0;
            }
            &:nth-child(3) {
                top: 58%;
                left: 0;
            }
            &:nth-child(6) {
                top: 58%;
                left: 0;
            }
            &:nth-child(7) {
                top: -58%;
                left: 0;
            }
            &::before {
                content: "";
                position: absolute;
                width: 20rem;
                height: 20rem;
                top: -10rem;
                left: -10rem;
                z-index: 10;
                --tw-translate-x: var(--mouse-x);
                --tw-translate-y: var(--mouse-y);
                transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
                border-radius: 9999px;
                --tw-bg-opacity: 1;
                background-color: #00B2B1;
                -webkit-filter: blur(100px);
                filter: blur(100px);
                @supports (-webkit-backdrop-filter: none) {
                      will-change: filter, transform;
                }
                transition-property: opacity;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 500ms;
                opacity: 1;
                pointer-events: none;

                @media screen and (max-width: 1199px) {
                 display: none;
                }
            }
            // &::after {
            //     content: "";
            //     position: absolute;
            //     left: -12rem;
            //     top: -12rem;
            //     z-index: 30;
            //     width: 24rem;
            //     height: 24rem;
            //     --tw-translate-x: var(--mouse-x);
            //     transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
            //     border-radius: 9999px;
            //     background-color: rgb(99 102 241 / var(--tw-bg-opacity, 1));
            //     opacity: 0;
            //     -webkit-filter: blur(100px);
            //     filter: blur(100px);
            //     will-change: filter, transform;
            //     transition-property: opacity;
            //     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            //     transition-duration: 500ms;
            //     pointer-events: none;

            // }
            .product_list_feature_cont {
                position: relative;
                z-index: 20;
                height: 100%;
                overflow: hidden;
                border-radius: 32px;
                padding: 72px 48px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: linear-gradient(216deg, rgba(1, 86, 86, 0.86) 0%, rgba(0, 53, 53, 0.85) 30%, rgb(0 17 17 / 83%) 70%);
                // background: linear-gradient(0deg, rgb(0, 29, 31) 0%, rgba(0, 23, 21, 0.8) 90%);
                @media screen and (max-width: 1199px) {
                  padding: 15px 20px 30px 20px;
                  border-radius: 16px;
                }
                @media screen and (max-width: 991px) {
                  padding-top: 30px;
                }
                img, svg {
                    position: absolute;
                    top: 7%;
                    right: 6%;
                    height: 60px;
                    width:60px;
                    @media screen and (max-width: 1199px) {
                      position: relative;
                      right: 0%;
                      margin-bottom: 30px;
                    }
                    @media screen and (max-width: 991px) {
                     
                      margin-bottom: 16px;
                    }
                }

                h4 {
                  font-size: 28px;
                  font-weight: 500;
                  line-height: 36px;
                  /* letter-spacing: 1px; */
                  text-align: left;
                  color: #ffffff;
                  padding-bottom: 16px;
                  padding-right: 42px;
                  margin: 0;

                    @media (min-width: 992px) and (max-width: 1199px) {
                      font-size: 18px;
                      padding-right: 16px;
                      padding-bottom: 8px;
                      line-height: 24px;
                 }
                    @media screen and (max-width: 991px) {
                      font-size: 16px;
                      line-height: 22px;
                      padding-bottom: 4px;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                    letter-spacing: 0.30000001192092896px;
                    text-align: left;
                    color: #ffffffa3;
                    margin: 0;
                    @media (min-width: 992px) and (max-width: 1199px) {
                      font-size: 14px;
                      line-height: 20px;
                     
                 }

                 @media screen and (max-width: 991px) {
                  font-size: 14px;
                  line-height: 22px;
                  
                }

                }
            }
        }
    }
}

// 
.fz_features_sec{
  padding: 100px 0px;
  @media (max-width:1024px) {
      padding: 42px 20px 0px;
     }
  // @media (max-width: 991px) {
  //    padding: 60px 20px;
  //   }
  h2{
      font-size: 48px;
      font-weight: 600;
      color: $white;
      margin-bottom: 16px;
      @media (max-width: 991px) {
         
          font-size: 24px;
         }
  }
  .fz_features_heading_para{
      font-size: 20px;
      font-weight: 300;
      color: $white;
      margin-bottom: 45px;
      @media (max-width: 991px) {
          font-size: 14px;
          margin-bottom: 16px;
         }
  }
  button{
      border-radius:0px  10px 10px 0px!important;
      padding: 20px;
      border-left: 3px solid #FCFCFC29;
      &.active{
          background-color: #33392f !important;
          border-left:3px solid #D6CA8A;
          svg{
              path{
                  fill: #D6CA8A;
              }
          }
          h4{
              color: #D6CA8A !important;
          }
      }
      .fz_feature_tab_heading{
          display: flex;
          align-content: center;
          margin-bottom: 8px;
          @media (max-width: 991px) {
              gap:12px;
              align-items: center;
              margin-bottom: 0px;
          }
          svg{
              width: 30px;
              height: 30px;
              object-fit: contain;

              @media (max-width: 991px) {
               min-width:20px;
               width: 20px;
               height: auto;
              //  height: 20px;
            }
          }
          h4{
              padding-left: 16px;
              font-size: 24px;
              color: $white;
              text-align: left;
              @media (min-width: 992px) and (max-width: 1199px) {
              font-size: 18px;
           }
              @media (max-width: 991px) {
                padding-top: 10px;
                padding-left: 0px;
                font-size: 16px;
                line-height: 22px;
                font-weight: 500;
              }
          }
      }
      .fz_feature_para{
          text-align: left;
          color: $white;
          font-weight: 300;
          @media (min-width: 992px) and (max-width: 1199px) {
            font-size: 14px;
          
       }
          @media (max-width: 991px) {
              font-size: 14px;
              margin-bottom: 0;
             }
      }
  }
  .fz_features_img{
      width: 500px;
      height: 500px;
      @media (max-width: 1024px) {
          width: 460px;
          height: 460px;
      }
      @media (max-width: 991px) {
         width: auto;
         height: auto;
         margin-top: 30px;
         }
      img, svg{
        width: 100%;
        height: 100%;
      }
  }
  .fz_tab_images_features{
      display: flex;
      justify-content: end;
      align-items: center;
      @media (max-width: 991px) {
          justify-content: start;
      }
      .tab-pane.active {
        animation: transformAnimation 2s;
      }
      @keyframes transformAnimation {
        0% {
          transform: scale(0.5);
        }
        50% {
          transform: scale(1);
        }
      }
  }
}

// Ai Enhance
.fz_ai_enhance_sec{
  padding: 100px 0px;
  @media (max-width:1024px) {
      padding: 72px 20px 0px;
     }
  .col-lg-5 {
    display: flex;
    align-items: center;
  }
  .fz_ai_enhance_img{
      width: 500px;
      height: 560px;
      @media (max-width: 1024px) {
          width:450px;
          height: 500px;
      }
      @media (max-width: 991px) {
          width: auto;
          height: auto;
        
          }
         
      img, svg{
          width: 100%;
          height: 100%;
          @media screen and (min-width: 992px) and (max-width: 1199px) {
             height:auto;
          }
      }
  }
  .fz_ai_enhance_text{
    
      h2{
          color: $white;
          font-size: 48px;
          font-weight: 600;
          margin-bottom: 16px;
          @media screen and (min-width: 992px) and (max-width: 1199px) {
              font-size: 26px;
              padding-bottom: 0px;
              margin-bottom: 10px;
         }
          @media (max-width: 991px) {
              
              font-size: 24px;
              line-height: 34px;
              // padding-bottom: 20px;
             }
      }
      h3 {
          color: #D6CA8A;
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 20px;
          @media (max-width: 991px) {
              text-align: center;
              font-size: 20px;
              padding-bottom: 20px;
             }
      }
      .fz_enhance_para{
          font-size:16px;
          color: $white;
          font-weight: 300;
          @media screen and (min-width: 992px) and (max-width: 1199px) {
             font-size: 14px;
       }
          @media (max-width: 991px) {
             
              font-size: 14px;
              padding-bottom: 10px;
          }
      }
      ul{
          padding: 0px;
          margin: 0px;
          box-sizing: border-box;
          list-style-type: none;
          @media (max-width: 991px) {
              margin-bottom: 16px;
          }
          li{
              font-size: 16px;
              font-weight: 300;
              padding: 8px 20px;
              border-radius: 20px;
              background-color: #0e1d20;
              margin-bottom: 12px;
              color: $white;
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              @media (max-width: 1024px) {
                  font-size: 14px;
                  font-size: 14px;
                  padding: 8px 8px;
                  border-radius: 12px;
              }
              // @media (max-width: 991px) {
              //     font-size: 14px;
              //     padding: 15px 15px;
              // }
              .fz_cbs_color{
                  color: $primary-color;
                  // padding-right: 5px;
              }
              img{
                  width: 18px;
                  height: 18px;
                  object-fit: contain;
                  margin-right: 16px;

                  @media screen and (max-width: 1199px) {
                    width:16px;
                    height:16px;
                  }
              }
              &::before {
                content: '';
                background: url('../../assets/images/Tick\ mark.svg') center no-repeat;
                background-size: 18px;
                width: 18px;
                  height: 18px;
                  object-fit: contain;
                  margin-right: 16px;

                  @media screen and (max-width: 1199px) {
                    width:44px;
                    height:44px;
                  }
              }
              p {
                margin: 0;
              }
          }
      }
  }
  .fz_enhance_col{
      display: flex;
      align-items: center;
      padding-left: 80px;
      @media screen and (min-width: 992px) and (max-width: 1199px) {
       align-items: start;
  }
      &.left-space{
        padding-right: 80px;
        padding-left: 0px;
        
      @media screen and (max-width: 991px) {
        padding:0;
 }
      }

      @media screen and (max-width: 991px) {
             padding:20px;
      }
  }
  .fz_enhance_img_col{
      display: flex;
      justify-content: end;
      @media screen and (max-width: 991px) {
        justify-content: start;
 }
  }
}

// Get In Touch
.fz_get_in_touch{
  padding: 100px 0px;
  @media (max-width:1024px) {
      padding: 60px 0px;
     }
  @media (max-width: 991px) {
      padding:0px 0px  60px 0px;
  }
  .get_in_touch{
      padding: 70px;
      border: 1px solid $primary-color;
      border-radius:50px;
      border-left: 20px solid $primary-color;
      border-right: 20px solid #2e5858;
      position: relative;
      overflow: hidden;
      background: url('../images/arrow-animate.gif');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -20px 43%;

      @media (max-width: 1199px) {
        background-position: 38px 40% !important;
    }
      .row{
          @media (max-width: 991px) {
              display: flex;
              flex-direction: column;
          }
      }
      @media (max-width: 991px) {
          padding: 20px;
          margin: 20px 0px 0px;
          border-left: 5px solid $primary-color;
          border-right: 5px solid #2e5858;
      }
      .get_touch_in_robo_img{
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 1;
          @media (max-width: 991px) {
            position: inherit;
            z-index: 1;
          }
          img, svg{
              width: 100%;
              height: 100%;
              @media (max-width: 1199px) {
                margin-top: 35px;
                width:80%;
              }
              @media (max-width: 991px) {
                  position: relative;
                  z-index: 1;
                  left: -20px;
                  top: -20px;
              }
          }
          
      }
      .ripple_effect_robo{
          background: radial-gradient(49% 50% at 50% 50%, rgb(46 88 88) 71%, rgb(255 255 255 / 21%) 100%);

          position: absolute;
          bottom: 12%;
          left: 22%;
          animation: roboripple 0.7s linear infinite;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          transform: scaleX(2);
          @media (max-width: 1199px) {
            top: 71%;;
            left: 24%;
          }
          // @media (max-width: 1024px) {
          //     top:69%;
          //     left: 31%;
          //   }
          @media (max-width: 991px) {
              top: 48%;
              left: 50%;
            }
          @media (max-width: 530px) {
              top: 40%;
              left: 44%;
            }
            @media (max-width: 380px) {
              top: 34%;
            }
      }
     
      @keyframes roboripple {
          0% {
              box-shadow: 0 0 0 0 rgba(45, 73, 73, 0.2), 
                          0 0 0 1em rgba(45, 73, 73, 0.3), 
                          0 0 0 2em rgba(45, 73, 73, 0.4), 
                          0 0 0 3em rgba(45, 73, 73, 0.5);
          }
          100% {
              box-shadow: 0 0 0 1em rgba(45, 73, 73, 0.9), 
                          0 0 0 2em rgba(45, 73, 73, 0.7), 
                          0 0 0 3em rgba(45, 73, 73, 0.6), 
                          0 0 0 3em rgba(45, 73, 73, 0);
          }
      }
      .get_touch_in_content{
          position: relative;
          @media (max-width: 991px) {
              justify-content: center;
            }
          h2{
              font-size: 48px;
              color: $white;
              font-weight: 600;
              @media (max-width: 991px) {
                 text-align: center;
                 font-size: 22px;
                 margin-top: 130px;
                }
          }
          p{
              color: $white;
              padding: 20px 0px;
              font-size: 16px;
              font-weight: 300;
              // width:80%;
              br{
                @media screen and (max-width:1399px) {
                  display: none;
                }
              }
              @media (min-width: 1200px) and (max-width: 1399px) {
      
              width:80%;
       }
              @media (max-width: 1199px) {
                padding: 10px 0px;
                width:100%;
               }
              @media (max-width: 991px) {
                  text-align: center;
                  font-size: 14px;
                 }
          }
          .get_touch_btn{
            a {
                @include cmn-btn;
                width: 160px !important;
                --w: 182px !important;
              }
              @media (max-width: 991px) {
                  display: flex;
                  justify-content: center;
                 }
          }
          .get-touch-arrow {
              position: absolute;
              top: 10px;
              left: 160px;
              display: none;
              @media (max-width: 991px) {
                 display: none;
                }
          }
      }
  }
}

// Product Range
#fz_product_range {
  padding: 10px 0px 60px;
    h2 {
        color: $white;
        font-size: 48px;
        line-height: 68px;
        font-weight: 600;

        @media (min-width: 992px) and (max-width: 1199px) {
             font-size: 30px;
             text-align: center;
       }
        @media screen and (max-width:991px) {
            font-size: 24px;
            line-height: 32px;
            padding:0px 30px;
            text-align: center;
        }
    }
    img {
        width: auto;
        display: unset;
    }
    #product-range {
        text-align: center;
        padding: 35px 80px 0;
        @media screen and (max-width:991px) {
            padding: 35px 20px 0;
        }
        .fz_product-content {
            padding: 32px 35px;
            border-radius: 30px;
            background: rgba(0, 30, 32, 0.8);
            background:linear-gradient(216deg, rgba(1, 86, 86, 0.86) 0%, rgba(0, 53, 53, 0.85) 30%, rgba(0, 17, 17, 0.83) 70%);
            margin-bottom: 32px;
            border:1px solid #051010;
            transition: border-color 0.6s ease, box-shadow 0.6s ease;
            &:hover {
              border: 1px solid ;
              border-color: #104f32; /* Light green border */
              box-shadow: 0 0 10px rgba(8, 69, 41, 0.6); /* Glow effect */
            }
            @media screen and (max-width:1199px) {
              margin-bottom: 0px;
           }
           svg {
            width: 94px;
            margin: 0 auto;
           }
            h3 {
                color: $white;
                font-size: 24px;
                line-height: 24px;
                font-weight: 600;;
                margin: 20px 0 0;
                @media screen and (max-width:1199px) {
                 font-size: 20px;
              }
            }
            p {
                color: #838383;
                font-size: 16px;
                line-height: 22px;
                font-weight: 300;
                margin: 20px 0;
                @media screen and (max-width:1199px) {
                  font-size: 14px;
                  line-height: 20px;
                  margin: 10px 0px;
               }
            }
            .cmn-btn {
                margin: 0 auto;
                @include cmn-btn;
                width: 164px !important;
                --w: 190px !important;
            }
        }
    }
    .owl-carousel {
        .owl-nav {
          .owl-prev,
          .owl-next {
            color: $white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 10px !important;
            transition: all 0.5s ease;
            border: 1px solid #6e6e6e;
            overflow: hidden;
            position: absolute;
            top: 50%;
            .custom-prev,.custom-next {
              position: relative;
            }
            &:hover {
              background: #006468;
              border: 1px solid #006468;
            }
            &:hover {
              svg {
                &:first-child {
                  margin-left: -65px;
                }
                &:last-child {
                  left: -32px;
                }
              }
            }
            svg {
              transition: all 0.2s ease;
              width: 28px;
              height: 28px;
              &:last-child {
                position: absolute;
                left: 35px;
              }
            }
          }
          .owl-next {
            right: 25px;
            transform: translate(50%, -50%);
            @media screen and (min-width: 600px) and (max-width: 991px) {
              right:0px;
        }
          }
          .owl-prev {
            left: 25px;
            transform: translate(-50%, -50%);

            @media screen and (min-width: 600px) and (max-width: 991px) {
              left:0px;
        }

            svg {
              transform: rotate(180deg);
            }
            // &.disabled {
            //     opacity: 0;
            // }
          }
        }
    }
  .owl-carousel .owl-item svg.svg-spotlight {
      transform: scale(1);
      transition: all ease-in 0.7s;
  }
  .owl-carousel .owl-item:hover svg.svg-spotlight {
      transform: scale(1.1);
      transition: all ease-in 0.7s;
  }
  svg.svg-spotlight path.svg-light-rays {
      opacity: 0.2;
      transition: all ease-in 0.7s;
  }
  
  .owl-carousel .owl-item:hover svg.svg-spotlight path.svg-light-rays {
      opacity: 1;
      transition: all ease-in 0.7s;
  }
}


// =========finbankz=====page=====styles=======
#fin_bankz_sec {
    position: relative;
    background: linear-gradient(90deg, #00838316 0%, #00838316 100%);
        img{
          position: absolute;
          top: 50%;
          right: 0;
          opacity: 0.8;
          transform: translate(0, -50%);
        }
        canvas {
          position: absolute;
          width: 100%;
          display: flex;
          height: 100%;
      }
      .fin_bankz {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 100vh;
         
          @media only screen and (max-width: 991px) {
            height: auto;
            flex-direction: column;
            gap: 24px;
            padding-bottom: 20px;  
          }
          .fin_bankz_content {
            position: relative;
            width: 620px;
       @media only screen and (max-width: 991px) {
              margin: 20px 0px 0px 0px;
              width:100%;
           }
          
            // @media only screen and (max-width: 991px) {
            //   width: 100%;
            // }
            .fin_bankz_title {
              font-size: 14px;
              font-weight: 400;
              line-height: 26px;
              color: $white;
              border-radius: 24px;
              background: #00B2B114;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              gap: 8px;
              padding: 8px 16px;
              margin-bottom: 16px;
              --border-angle: 0turn;
              --main-bg: conic-gradient(from var(--border-angle), #002d2c 0%, #002d2c 100%);
              border: solid 1px transparent;
              --gradient-border: conic-gradient(from var(--border-angle), rgba(2, 237, 104, 0) 7.95474deg, rgb(34 254 179) 77.822552deg, rgba(10, 10, 10, 0) 182.574207deg, rgba(10, 10, 10, 0) 204.015297deg, rgb(34 254 179) 258.393755deg, rgba(0, 157, 255, 0) 354.246679deg);
              background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
              background-position: center center;
              animation: bg-spin 5s linear infinite;
              @keyframes bg-spin {
                to {
                --border-angle: 1turn;
                }
            }
              @media screen and (max-width: 1200px) {
                line-height: 40px;
              }
              @media screen and (max-width: 1200px) {
                padding:0px 16px;
              }
            }
  
            .fin_bankz_subtitle {
              font-size: 48px;
              font-weight: 600;
              color: #00B2B1CC;
              padding-bottom: 2px;
              @media screen and (max-width: 1200px) {
               font-size: 36px;
              }
              @media screen and (max-width: 991px) {
                font-size: 22px;
               }
            }
  
            .fin_bankz_desc {
              font-size: 20px;
              font-weight: 300;
              color: #ffffff;
              padding-bottom: 24px;
              line-height: 28px;
              letter-spacing: 0.25px;
              margin: 0;
              @media screen and (max-width: 991px) {
                font-size: 14px !important;
                line-height: 22px;
               }
            }
  
            &::before {
              content: "";
              position: absolute;
              top: 32%;
              left: 14%;
              transform: translate(32%, 14%);
              width: 213px;
              height: 213px;
              background: #2D4949E5;
              filter: blur(84px);
              transform: translate3d(0, 0, 0);
              z-index: -1;
              pointer-events: none;
            }
            .cmn-btn {
              @include cmn-btn;
              width: 164px !important;
              --w: 182px !important;
            }
          }
          .fin_bankz_img {
            position: relative;
            text-align: center;
            svg{
              width: 75% !important;
            }
            @media screen and (max-width: 991px) {
              width:100%;
              margin: 60px auto 0 auto;
            }
            .finbankz-product {
                width: 625px;
                height: 625px;
                @media screen and (max-width: 1199px) {
                  width:100%;
                }
                @media screen and (max-width: 991px) {
                  height: 100%;
                }
                &::before {
                content: "";
                position: absolute;
                top: 26%;
                left: 18%;
                transform: translate(26%, 18%);
                width: 350px;
                height: 350px;
                height: 350px;
                background: #2D4949E5;
                filter: blur(84px);
                transform: translate3d(0, 0, 0);
                z-index: -1;
                pointer-events: none;

                @media screen and (max-width: 991px) {
                     width:100%;
                }
                }
            }
          }
        }
        @media screen and (max-width: 991px) {
        .fz_reverse{
          flex-direction: column-reverse;
        }
      }
  }
.finbankz_heading{
    h3{
      padding-top: 50px !important;
    }
  }
  .fin_bankz{
    background: transparent !important;
    .finbank_content{
      border-left: 1px solid #fff;
      padding-left:25px;
      position: relative;
      @media screen and (max-width: 991px) {
         padding-left: 15px;
        }
      .finbank_count{
    position: absolute;
    top: -25px;
    left: -8px;
    color: $white;
    font-size: 18px;
    @media screen and (max-width: 991px) {
      font-size: 14px;
     }
      }
      .fin_bankz_desc{
        font-size: 16px !important;
      }
    }
    .fz_fin_bankz{
      height: auto !important;
      padding: 30px 0px;
    }
  }
  .finbankz_bg{
    background: linear-gradient(179.22deg, rgba(0, 17, 21, 0) 0.51%, rgba(4, 46, 39, 0.5) 48.77%) !important;
  }
  .finbankz_bg_1{
    background: linear-gradient(359.22deg, rgba(0, 17, 21, 0) 2.97%, rgba(4, 46, 39, 0.5) 51.23%) !important;
  }
  @keyframes slide-right {
    0% {
      transform: translateX(135px);
      opacity: 0.5;
    }
    20%{
      transform: translateX(145px);
      opacity: 0.5; 
    }
    50%{
      transform: translateX(155px);
      opacity: 0.1; 
    }
    65%{
      transform: translateX(-125px);
      opacity: 0.2; 
    }
    85%{
      transform: translateX(110px);
      opacity: 0.3; 
    }
    100% {
      transform: translateX(130px);
      opacity:1;
    }
  }