@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.error-page-section {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url("../images/error-bg-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 30%;
  height: 100vh;
}
@media screen and (max-width: 991px) {
  .error-page-section {
    background-image: none;
    margin-top: 165px;
  }
}
.error-page-section canvas {
  position: absolute;
  width: 100%;
  display: flex;
}
.error-page-section .error-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  position: relative;
}
@media screen and (max-width: 991px) {
  .error-page-section .error-page {
    display: block;
  }
}
.error-page-section .error-page .error-left-page .error-img {
  width: 50%;
  padding-bottom: 24px;
}
.error-page-section .error-page .error-left-page h2 {
  font-size: 44px;
  line-height: 75px;
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (max-width: 991px) {
  .error-page-section .error-page .error-left-page h2 {
    line-height: 50px;
  }
}
.error-page-section .error-page .error-left-page h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 300;
  color: #FFFFFF;
}
.error-page-section .error-page .error-left-page p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #A1A1AA;
}
@media screen and (max-width: 991px) {
  .error-page-section .error-page .error-left-page p {
    font-size: 14px;
    line-height: 18px;
  }
}
.error-page-section .error-page .error-left-page .buttons {
  width: 186px;
  margin: 0 auto;
  border: 1px solid linear-gradient(98.24deg, #6DDCFF 0%, #7F60F9 100%);
}
@media screen and (max-width: 991px) {
  .error-page-section .error-page .error-right-page {
    margin-top: 12px;
  }
}
@media screen and (max-width: 991px) {
  .error-page-section .error-page .error-right-page svg {
    width: 100%;
  }
}
.error-page-section .error-page .error-right-page svg .star {
  animation: float 3s ease-in-out infinite;
}
.error-page-section .error-page .error-right-page svg .rotate {
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotate {
  0% {
    transform: translate(0, 0);
    opacity: 0.7;
  }
  50% {
    transform: translate(10px, -10px);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.7;
  }
}