@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
#fz_mobile_section .fz_mobile_right {
  display: flex;
}
#fz_mobile_section .fz_mobile_right img {
  width: 100%;
}
#fz_mobile_section .fz_mobile_text_left h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  #fz_mobile_section .fz_mobile_text_left h2 {
    text-align: center;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_sub_title {
  color: #3eab90;
  font-size: 30px;
  padding-bottom: 40px;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 991px) {
  #fz_mobile_section .fz_mobile_text_left .fz_sub_title {
    text-align: center;
    line-height: 38px;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_description {
  display: flex;
  align-items: start;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 48px;
}
@media screen and (max-width: 991px) {
  #fz_mobile_section .fz_mobile_text_left .fz_description {
    margin-bottom: 30px;
    line-height: 22px;
    font-size: 14px;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_description span {
  background-color: #2d4949;
  border-radius: 50%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  min-width: 43px;
  animation: ripple 0.7s linear infinite;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn {
  display: flex;
  margin-left: 70px;
}
@media screen and (max-width: 1400px) {
  #fz_mobile_section .fz_mobile_text_left .fz_btn {
    margin-left: 0;
    justify-content: center;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore {
  height: 50px;
  border-radius: 32px;
  background-color: transparent;
  outline: none;
  border: 1px solid #309393;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  padding: 0px 20px 0 25px;
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 20px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore .text {
  position: relative;
  left: 10px;
  transition: all 1s ease;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore img {
  opacity: 0;
  transition: all 1s ease;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore .icon {
  margin-left: 10px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore:hover {
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 32px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  --box-glow-color: var(--color);
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore:hover img {
  opacity: 1;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore:hover .icon {
  margin-left: 10px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore:hover .text {
  position: relative;
  left: 0px;
}
@media screen and (max-width: 375px) {
  #fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore:hover {
    font-size: 13px;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore img {
  opacity: 1;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore .icon {
  margin-left: 10px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore .text {
  position: relative;
  left: 0px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore:hover {
  --box-glow-color: #06eed5;
}
@media screen and (max-width: 375px) {
  #fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore {
    font-size: 13px;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn {
  height: 50px;
  border-radius: 32px;
  background-color: transparent;
  outline: none;
  border: 1px solid #309393;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  padding: 0px 20px 0 25px;
  margin-left: 20px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn .text {
  position: relative;
  left: 10px;
  transition: all 1s ease;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn img {
  opacity: 0;
  transition: all 1s ease;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn .icon {
  margin-left: 10px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn:hover {
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 32px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  --box-glow-color: var(--color);
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn:hover img {
  opacity: 1;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn:hover .icon {
  margin-left: 10px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn:hover .text {
  position: relative;
  left: 0px;
}
@media screen and (max-width: 375px) {
  #fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn:hover {
    font-size: 13px;
  }
}