@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
#fz_mobile_section .fz_mobile_right {
  display: flex;
  border-bottom-right-radius: 40px;
}
#fz_mobile_section .fz_mobile_right img {
  position: relative;
  z-index: 2;
}
#fz_mobile_section .fz_mobile_right img:first-child {
  z-index: 9;
}
#fz_mobile_section .fz_mobile_right img:last-child {
  right: 152px;
}
@media screen and (max-width: 991px) {
  #fz_mobile_section .fz_mobile_right img {
    height: 460px;
    margin: 15px;
  }
}
#fz_mobile_section .fz_mobile_text_left h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  #fz_mobile_section .fz_mobile_text_left h2 {
    text-align: center;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_sub_title {
  color: #3EAB90;
  font-size: 30px;
  padding-bottom: 40px;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 991px) {
  #fz_mobile_section .fz_mobile_text_left .fz_sub_title {
    text-align: center;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_description {
  display: flex;
  align-items: start;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 48px;
}
@media screen and (max-width: 991px) {
  #fz_mobile_section .fz_mobile_text_left .fz_description {
    margin-bottom: 30px;
    line-height: 22px;
    font-size: 14px;
    align-items: start;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_description span {
  background-color: #2D4949;
  border-radius: 50%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  min-width: 43px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn {
  display: flex;
  margin-left: 70px;
}
@media (min-width: 992px) and (max-width: 1400px) {
  #fz_mobile_section .fz_mobile_text_left .fz_btn {
    margin-left: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  #fz_mobile_section .fz_mobile_text_left .fz_btn {
    margin-left: 0;
    justify-content: center;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore {
  background: #3EAB90;
  color: #ffffff;
  border-radius: 32px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
  border: 1px solid transparent;
  margin-right: 35px;
  font-weight: 400;
  transition: all 0.5s ease-in;
  width: 180px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore svg {
  animation: moveAnimation 2s linear infinite;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore:hover {
  background: transparent;
  border: 1px solid #3EAB90;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore .hero-join {
  line-height: 1.5;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -72%;
  left: 35px;
  flex-direction: column;
  transition: bottom 0.5s;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore:hover .hero-join {
  bottom: 12px;
}
@media screen and (max-width: 1300px) {
  #fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore {
    padding: 13px 20px;
    font-size: 14px;
    margin-right: 24px;
  }
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn {
  background: #000000;
  color: #3EAB90;
  border-radius: 32px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
  font-weight: 400;
  border: 1px solid #3EAB90;
  transition: all 0.3s ease-in;
  width: 180px;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn svg {
  animation: moveAnimation 2s linear infinite;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn:hover {
  background: #3EAB90;
  border: 1px solid transparent;
  color: #ffffff;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn .hero-join {
  line-height: 1.5;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -72%;
  left: 35px;
  flex-direction: column;
  transition: bottom 0.5s;
}
#fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn:hover .hero-join {
  bottom: 12px;
}
@media screen and (max-width: 1300px) {
  #fz_mobile_section .fz_mobile_text_left .fz_btn .fz_learmore_btn {
    padding: 13px 20px;
    font-size: 14px;
  }
}