@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
#fz-hero-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  #fz-hero-bg {
    padding: 130px 10px 40px 10px;
    text-align: center;
    height: auto;
  }
}
#fz-hero-bg iframe {
  height: 120vh !important;
  transform: scale(0.8);
}
@media screen and (max-width: 991px) {
  #fz-hero-bg iframe {
    height: 117vh !important;
    transform: scale(0.5);
  }
}
#fz-hero-bg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  opacity: 30%;
  mix-blend-mode: hard-light;
  background: radial-gradient(49.19% 50% at 50% 50%, #67CBAF 0%, #364849 95.5%);
  backdrop-filter: blur(137.73px);
  z-index: 2;
  pointer-events: none;
}
#fz-hero-bg canvas {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  z-index: 1;
}
#fz-hero-bg .container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
}
@media screen and (max-width: 991px) {
  #fz-hero-bg .container {
    text-align: center;
    display: block;
  }
}
#fz-hero-bg .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 20px;
}
#fz-hero-bg .text-content {
  color: #ffffff;
  max-width: 100%;
  flex: 1;
}
#fz-hero-bg .text-content h1 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 70px;
}
@media screen and (max-width: 1300px) {
  #fz-hero-bg .text-content h1 {
    font-size: 38px;
    line-height: 40px;
  }
}
@media screen and (max-width: 991px) {
  #fz-hero-bg .text-content h1 {
    font-size: 40px;
    justify-content: center;
    line-height: 50px;
  }
}
@media screen and (max-width: 768px) {
  #fz-hero-bg .text-content h1 {
    line-height: 40px;
    font-size: 1.75rem;
    text-align: center;
  }
}
#fz-hero-bg .text-content h1 .text-line text {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear infinite, filling 4s ease-in forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@media screen and (max-width: 1300px) {
  #fz-hero-bg .text-content h1 svg {
    width: 170px;
    height: auto;
  }
}
#fz-hero-bg .text-content p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  #fz-hero-bg .text-content p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1300px) {
  #fz-hero-bg .text-content .mobile-break {
    display: none;
  }
}
#fz-hero-bg .hero-section-button {
  display: flex;
}
@media screen and (max-width: 991px) {
  #fz-hero-bg .hero-section-button {
    justify-content: center;
  }
}
#fz-hero-bg .hero-section-button .section-button-one, #fz-hero-bg .hero-section-button .section-button-two {
  height: 50px;
  border-radius: 32px;
  background-color: transparent;
  outline: none;
  border: 1px solid #309393;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  padding: 0px 20px 0 25px;
}
#fz-hero-bg .hero-section-button .section-button-one .text, #fz-hero-bg .hero-section-button .section-button-two .text {
  position: relative;
  left: 10px;
  transition: all 1s ease;
}
#fz-hero-bg .hero-section-button .section-button-one img, #fz-hero-bg .hero-section-button .section-button-two img {
  opacity: 0;
  transition: all 1s ease;
}
#fz-hero-bg .hero-section-button .section-button-one .icon, #fz-hero-bg .hero-section-button .section-button-two .icon {
  margin-left: 10px;
}
#fz-hero-bg .hero-section-button .section-button-one:hover, #fz-hero-bg .hero-section-button .section-button-two:hover {
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 32px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  --box-glow-color: var(--color);
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
#fz-hero-bg .hero-section-button .section-button-one:hover img, #fz-hero-bg .hero-section-button .section-button-two:hover img {
  opacity: 1;
}
#fz-hero-bg .hero-section-button .section-button-one:hover .icon, #fz-hero-bg .hero-section-button .section-button-two:hover .icon {
  margin-left: 10px;
}
#fz-hero-bg .hero-section-button .section-button-one:hover .text, #fz-hero-bg .hero-section-button .section-button-two:hover .text {
  position: relative;
  left: 0px;
}
#fz-hero-bg .hero-section-button .section-button-one {
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 20px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
#fz-hero-bg .hero-section-button .section-button-one img {
  opacity: 1;
}
#fz-hero-bg .hero-section-button .section-button-one .icon {
  margin-left: 10px;
}
#fz-hero-bg .hero-section-button .section-button-one .text {
  position: relative;
  left: 0px;
}
#fz-hero-bg .hero-section-button .section-button-one:hover {
  --box-glow-color: #06eed5;
}
#fz-hero-bg .hero-section-button .section-button-two {
  margin-left: 20px;
}
#fz-hero-bg .globe-container {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 50%;
  position: relative;
}

.text-line1 {
  width: auto;
  height: 55px;
}

/* Animation Setup */
.text-line1 .path {
  stroke-dasharray: 1000; /* Large number to ensure path length is enough */
  stroke-dashoffset: 1000;
  animation: draws 8s ease forwards;
  animation-iteration-count: infinite;
}

/* Staggered Animation */
.text-line1 .path {
  animation-delay: 1s;
  fill: none;
  stroke: #f7c35f;
  stroke-width: 0.5;
}

/* Keyframes for Animation */
@keyframes draws {
  to {
    stroke-dashoffset: 0; /* Animate to reveal the path */
  }
}