@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.fz-blog {
  background-color: #000000;
}
.fz-blog .container {
  max-width: 85%;
}
.fz-blog .blog-carousel {
  text-align: center;
  padding: 66px 0 84px;
}
@media screen and (max-width: 991px) {
  .fz-blog .blog-carousel {
    padding: 20px 0 30px;
  }
}
.fz-blog .blog-carousel h3 {
  color: #3eab90;
  font-size: 40px;
  font-weight: 500;
  line-height: 58px;
}
@media screen and (max-width: 991px) {
  .fz-blog .blog-carousel h3 {
    line-height: 40px;
    font-size: 30px;
  }
}
.fz-blog .blog-carousel p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
@media screen and (max-width: 991px) {
  .fz-blog .blog-carousel p {
    line-height: 25px;
  }
}
.fz-blog .owl-item {
  transform: scale(0.9);
  transition: all 0.7s ease-in;
}
.fz-blog .owl-item.center {
  transform: scale(1);
  transition: all 0.7s ease-in;
}
.fz-blog .item {
  width: 389px;
  height: 483px;
  color: #ffffff;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: 21px;
  background: linear-gradient(150.11deg, #002c21 3.16%, #86e1cb 94.92%) border-box;
}
@media screen and (max-width: 1400px) {
  .fz-blog .item {
    width: auto;
    height: auto;
  }
}
.fz-blog .item:hover .card-body {
  height: 100%;
}
.fz-blog .item:hover .card-body .card-text {
  max-height: 220px;
}
.fz-blog .item:hover img {
  transform: scale(1.1);
}
.fz-blog .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 21px;
  transition: all 1s ease-out;
}
@media screen and (max-width: 991px) {
  .fz-blog .item img {
    height: 100%;
  }
}
.fz-blog .item .card-body {
  padding: 10px 20px;
  width: 100%;
  border-radius: 0 0 8px 8px;
  margin: 0 auto;
  position: absolute;
  height: 28%;
  bottom: 0px;
  transition: all 1s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.04), rgb(0, 0, 0), #000000);
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (max-width: 767px) {
  .fz-blog .item .card-body {
    width: 100%;
    padding: 0px 25px 30px 24px;
    bottom: -30px;
    height: 40%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
  .fz-blog .item .card-body {
    bottom: -20px;
    height: 50%;
  }
}
.fz-blog .item .card-body h5 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  padding-bottom: 12px;
  color: #f7c35f;
  margin-bottom: 0px;
}
@media screen and (max-width: 1400px) {
  .fz-blog .item .card-body h5 {
    font-size: 16px;
    padding-bottom: 7px;
    line-height: 22px;
  }
}
.fz-blog .item .card-body .card-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 2rem;
  max-height: 46px;
  overflow: hidden;
  transition: all 1s ease;
}
@media screen and (max-width: 1400px) {
  .fz-blog .item .card-body .card-text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 22px;
  }
}
.fz-blog .owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.fz-blog .owl-carousel .owl-nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .fz-blog .owl-carousel .owl-nav {
    margin-top: 10px;
  }
}
.fz-blog .owl-carousel .owl-nav .owl-prev,
.fz-blog .owl-carousel .owl-nav .owl-next {
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px !important;
  transition: all 0.5s ease;
  border: 1px solid #6e6e6e;
  overflow: hidden;
}
.fz-blog .owl-carousel .owl-nav .owl-prev .custom-prev, .fz-blog .owl-carousel .owl-nav .owl-prev .custom-next,
.fz-blog .owl-carousel .owl-nav .owl-next .custom-prev,
.fz-blog .owl-carousel .owl-nav .owl-next .custom-next {
  position: relative;
}
.fz-blog .owl-carousel .owl-nav .owl-prev:hover,
.fz-blog .owl-carousel .owl-nav .owl-next:hover {
  background: #006468;
  border: 1px solid #006468;
}
.fz-blog .owl-carousel .owl-nav .owl-prev:hover svg:first-child,
.fz-blog .owl-carousel .owl-nav .owl-next:hover svg:first-child {
  margin-left: -65px;
}
.fz-blog .owl-carousel .owl-nav .owl-prev:hover svg:last-child,
.fz-blog .owl-carousel .owl-nav .owl-next:hover svg:last-child {
  left: -32px;
}
.fz-blog .owl-carousel .owl-nav .owl-prev svg,
.fz-blog .owl-carousel .owl-nav .owl-next svg {
  transition: all 0.2s ease;
  width: 28px;
  height: 28px;
}
.fz-blog .owl-carousel .owl-nav .owl-prev svg:last-child,
.fz-blog .owl-carousel .owl-nav .owl-next svg:last-child {
  position: absolute;
  left: 35px;
}
.fz-blog .owl-carousel .owl-nav .owl-prev svg {
  transform: rotate(180deg);
}