#fz_core_nexus {
  padding: 80px 0;
}
#fz_core_nexus .fz_core_bg {
  width: 558px;
  background-color: #1A2C2A;
  border-radius: 16px;
  padding-top: 30px;
}
#fz_core_nexus .fz_core_bg .fz_core_text {
  background-color: #000000;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  transform: rotate(-8.5deg);
  width: 422px;
  height: 605px;
  margin-left: 62px;
  margin-top: 30px;
  overflow: hidden;
}
#fz_core_nexus .fz_core_bg .fz_core_text h3 {
  font-size: 32px;
  color: #ffffff;
  line-height: 45px;
  padding: 50px 50px 0;
}
#fz_core_nexus .fz_core_bg .fz_core_text img {
  transform: rotate(8.5deg);
  position: relative;
  z-index: 1;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(1) {
  top: 38%;
  left: 10%;
  animation: animate 16s linear infinite;
  background: #F7C35F;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(2) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
  background: #3EAB90;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(3) {
  top: 38%;
  right: 0%;
  animation: animate 10s linear infinite;
  background: #3EAB90;
}
#fz_core_nexus .fz_core_text_right h2 {
  font-size: 36px;
  color: #ffffff;
  line-height: 48px;
  margin-bottom: 35px;
}
#fz_core_nexus .fz_core_text_right h5 {
  font-size: 24px;
  color: #ffffff;
  line-height: 40px;
  margin-bottom: 50px;
}
#fz_core_nexus .fz_core_text_right p {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 48px;
}
#fz_core_nexus .fz_core_text_right p span {
  background-color: #2D4949;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  display: inline-table;
  text-align: center;
  line-height: 38px;
  margin-right: 25px;
}
#fz_core_nexus .fz_core_text_right div {
  margin-left: 70px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore {
  background: #3EAB90;
  color: #ffffff;
  border-radius: 32px;
  font-size: 16px;
  padding: 16px 60px;
  border: 1px solid transparent;
  margin-right: 35px;
  transition: all 0.5s ease-in;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore:hover {
  background: transparent;
  border: 1px solid #3EAB90;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn {
  background: #000000;
  color: #3EAB90;
  border-radius: 32px;
  font-size: 16px;
  padding: 18px 60px;
  border: 1px solid #3EAB90;
  transition: all 0.3s ease-in;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn:hover {
  background: #3EAB90;
  border: 1px solid transparent;
  color: #ffffff;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  }
}