@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
#fz_core_nexus {
  padding: 80px 0;
}
#fz_core_nexus .fz_core_bg {
  width: 500px;
  background-color: #1a2c2a;
  border-radius: 16px;
  padding-top: 30px;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #1A2C2A 0%,
      #1A2C2A 100%
      );
  border: solid 1px transparent;
  --gradient-border: conic-gradient(from var(--border-angle), rgba(2, 237, 104, 0) 7.95474deg, rgb(34 254 179) 77.822552deg, rgba(10, 10, 10, 0) 182.574207deg, rgba(10, 10, 10, 0) 204.015297deg, #f7c35f 258.393755deg, rgba(0, 157, 255, 0) 354.246679deg);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@media (min-width: 0px) and (max-width: 1200px) {
  #fz_core_nexus .fz_core_bg {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #fz_core_nexus .fz_core_bg {
    width: 90%;
    margin: 0 auto;
  }
}
#fz_core_nexus .fz_core_bg .fz_core_text {
  background-color: #000000;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  width: 422px;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #fz_core_nexus .fz_core_bg .fz_core_text {
    width: 375px;
  }
}
#fz_core_nexus .fz_core_bg .fz_core_text h3 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  line-height: 45px;
  padding: 50px 50px 0;
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_bg .fz_core_text h3 {
    font-size: 22px;
    padding: 25px 25px 0;
    line-height: 30px;
  }
}
@media screen and (max-width: 767px) {
  #fz_core_nexus .fz_core_bg .fz_core_text h3 {
    font-size: 24px;
    line-height: 34px;
  }
}
#fz_core_nexus .fz_core_bg .fz_core_text img {
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #fz_core_nexus .fz_core_bg .fz_core_text img {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_bg .fz_core_text img {
    width: 100%;
  }
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(1) {
  top: 35%;
  left: 5%;
  animation: animate 16s linear infinite;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(2) {
  top: 32%;
  left: 35%;
  animation: animate 12s linear infinite;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(3) {
  top: 40%;
  right: 8%;
  animation: animate 10s linear infinite;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(4) {
  bottom: 0;
  right: 0;
  animation: animate 8s linear infinite;
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_bg .fz_core_text {
    width: 80%;
    transform: none;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  #fz_core_nexus .fz_core_text_right {
    padding-left: 40px;
  }
}
#fz_core_nexus .fz_core_text_right h2 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 35px;
}
@media screen and (max-width: 1199px) {
  #fz_core_nexus .fz_core_text_right h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_text_right h2 {
    margin-bottom: 20px;
    font-size: 26px;
  }
}
@media screen and (max-width: 767px) {
  #fz_core_nexus .fz_core_text_right h2 {
    margin-top: 45px;
  }
}
#fz_core_nexus .fz_core_text_right h5 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_text_right h5 {
    margin-bottom: 25px;
    line-height: 30px;
  }
}
#fz_core_nexus .fz_core_text_right p {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 48px;
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_text_right p {
    margin-bottom: 30px;
    line-height: 22px;
    font-size: 14px;
    align-items: start;
  }
}
#fz_core_nexus .fz_core_text_right p span {
  background-color: #2d4949;
  border-radius: 50%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  min-width: 43px;
  animation: ripple 0.7s linear infinite;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(45, 73, 73, 0.1), 0 0 0 1em rgba(45, 73, 73, 0.1), 0 0 0 2em rgba(45, 73, 73, 0.1), 0 0 0 3em rgba(45, 73, 73, 0.1);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(45, 73, 73, 0.1), 0 0 0 2em rgba(45, 73, 73, 0.1), 0 0 0 3em rgba(45, 73, 73, 0.1), 0 0 0 4em rgba(45, 73, 73, 0);
  }
}
#fz_core_nexus .fz_core_text_right div {
  margin-left: 70px;
  display: flex;
  align-items: center;
}
@media (max-width: 1400px) {
  #fz_core_nexus .fz_core_text_right div {
    margin-left: 0;
    justify-content: center;
  }
}
#fz_core_nexus .fz_core_text_right div .fz_learmore {
  height: 50px;
  border-radius: 32px;
  background-color: transparent;
  outline: none;
  border: 1px solid #309393;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  padding: 0px 20px 0 25px;
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 20px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
#fz_core_nexus .fz_core_text_right div .fz_learmore .text {
  position: relative;
  left: 10px;
  transition: all 1s ease;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore img {
  opacity: 0;
  transition: all 1s ease;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore .icon {
  margin-left: 10px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore:hover {
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 32px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  --box-glow-color: var(--color);
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
#fz_core_nexus .fz_core_text_right div .fz_learmore:hover img {
  opacity: 1;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore:hover .icon {
  margin-left: 10px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore:hover .text {
  position: relative;
  left: 0px;
}
@media screen and (max-width: 375px) {
  #fz_core_nexus .fz_core_text_right div .fz_learmore:hover {
    font-size: 13px;
  }
}
#fz_core_nexus .fz_core_text_right div .fz_learmore img {
  opacity: 1;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore .icon {
  margin-left: 10px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore .text {
  position: relative;
  left: 0px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore:hover {
  --box-glow-color: #06eed5;
}
@media screen and (max-width: 375px) {
  #fz_core_nexus .fz_core_text_right div .fz_learmore {
    font-size: 13px;
  }
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn {
  height: 50px;
  border-radius: 32px;
  background-color: transparent;
  outline: none;
  border: 1px solid #309393;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  padding: 0px 20px 0 25px;
  margin-left: 20px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn .text {
  position: relative;
  left: 10px;
  transition: all 1s ease;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn img {
  opacity: 0;
  transition: all 1s ease;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn .icon {
  margin-left: 10px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn:hover {
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 32px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  --box-glow-color: var(--color);
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn:hover img {
  opacity: 1;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn:hover .icon {
  margin-left: 10px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn:hover .text {
  position: relative;
  left: 0px;
}
@media screen and (max-width: 375px) {
  #fz_core_nexus .fz_core_text_right div .fz_learmore_btn:hover {
    font-size: 13px;
  }
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-80px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(-90px);
    border-radius: 50%;
    opacity: 0;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}