@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
#fz_core_nexus {
  padding: 80px 0;
}
#fz_core_nexus .fz_core_bg {
  width: 558px;
  background-color: #1a2c2a;
  border-radius: 16px;
  padding-top: 30px;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #1A2C2A 0%,
      #1A2C2A 100%
      );
  border: solid 1px transparent;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 5%, #F7C35F, #3EAB90 99%);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
#fz_core_nexus .fz_core_bg .fz_core_text {
  background-color: #000000;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  width: 422px;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #fz_core_nexus .fz_core_bg .fz_core_text {
    width: 375px;
  }
}
#fz_core_nexus .fz_core_bg .fz_core_text h3 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 700;
  line-height: 45px;
  padding: 50px 50px 0;
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_bg .fz_core_text h3 {
    font-size: 23px;
    padding: 25px 25px 0;
    line-height: 30px;
  }
}
#fz_core_nexus .fz_core_bg .fz_core_text img {
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #fz_core_nexus .fz_core_bg .fz_core_text img {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_bg .fz_core_text img {
    width: 100%;
  }
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(1) {
  top: 35%;
  left: 5%;
  animation: animate 16s linear infinite;
<<<<<<< HEAD
  background: #f7c35f;
=======
>>>>>>> fc884f9bc675a0be2b564a76b40cfc44bdd56be4
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(2) {
  top: 32%;
  left: 35%;
  animation: animate 12s linear infinite;
<<<<<<< HEAD
  background: #3eab90;
=======
>>>>>>> fc884f9bc675a0be2b564a76b40cfc44bdd56be4
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(3) {
  top: 40%;
  right: 8%;
  animation: animate 10s linear infinite;
<<<<<<< HEAD
  background: #3eab90;
=======
}
#fz_core_nexus .fz_core_bg .fz_core_text .fz_box div:nth-child(4) {
  bottom: 0;
  right: 0;
  animation: animate 8s linear infinite;
>>>>>>> fc884f9bc675a0be2b564a76b40cfc44bdd56be4
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_bg .fz_core_text {
    width: 80%;
    transform: none;
    height: auto;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1400px) {
  #fz_core_nexus .fz_core_bg {
    width: 100%;
  }
}
#fz_core_nexus .fz_core_text_right h2 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 35px;
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_text_right h2 {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 32px;
  }
}
#fz_core_nexus .fz_core_text_right h5 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 50px;
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_text_right h5 {
    margin-bottom: 25px;
    line-height: 30px;
  }
}
#fz_core_nexus .fz_core_text_right p {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 48px;
}
@media screen and (max-width: 991px) {
  #fz_core_nexus .fz_core_text_right p {
    margin-bottom: 30px;
    line-height: 22px;
    font-size: 14px;
    align-items: start;
  }
}
#fz_core_nexus .fz_core_text_right p span {
  background-color: #2d4949;
  border-radius: 50%;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  min-width: 43px;
}
#fz_core_nexus .fz_core_text_right div {
  margin-left: 70px;
  display: flex;
  align-items: center;
}
@media (max-width: 1400px) {
  #fz_core_nexus .fz_core_text_right div {
    margin-left: 0;
    justify-content: center;
  }
}
#fz_core_nexus .fz_core_text_right div .fz_learmore {
  background: #3eab90;
  color: #ffffff;
  border-radius: 32px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
  border: 1px solid transparent;
  margin-right: 35px;
  font-weight: 400;
  transition: all 0.5s ease-in;
  width: 180px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore svg {
  animation: moveAnimation 2s linear infinite;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore:hover {
  background: transparent;
  border: 1px solid #3eab90;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore .hero-join {
  line-height: 1.5;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -72%;
  left: 35px;
  flex-direction: column;
  transition: bottom 0.5s;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore:hover .hero-join {
  bottom: 12px;
}
@media screen and (max-width: 1300px) {
  #fz_core_nexus .fz_core_text_right div .fz_learmore {
    padding: 13px 20px;
    font-size: 14px;
    margin-right: 24px;
  }
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn {
  background: #000000;
  color: #3eab90;
  border-radius: 32px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
  font-weight: 400;
  border: 1px solid #3eab90;
  transition: all 0.3s ease-in;
  width: 180px;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn svg {
  animation: moveAnimation 2s linear infinite;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn:hover {
  background: #3eab90;
  border: 1px solid transparent;
  color: #ffffff;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn .hero-join {
  line-height: 1.5;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -72%;
  left: 35px;
  flex-direction: column;
  transition: bottom 0.5s;
}
#fz_core_nexus .fz_core_text_right div .fz_learmore_btn:hover .hero-join {
  bottom: 12px;
}
@media screen and (max-width: 1300px) {
  #fz_core_nexus .fz_core_text_right div .fz_learmore_btn {
    padding: 13px 20px;
    font-size: 14px;
  }
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-80px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(-90px);
    border-radius: 50%;
    opacity: 0;
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}