@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
.developer_section {
  background-color: #000000;
  padding: 60px 0px 100px;
}
@media screen and (max-width: 767px) {
  .developer_section {
    padding: 40px 0px;
  }
}
.developer_section .dev_api_images {
  margin: 0 auto;
  padding: 50px;
}
.developer_section .dev_api_images img {
  width: 100%;
  height: 100%;
}
.developer_section h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .developer_section h3 {
    text-align: center;
  }
}
.developer_section h5 {
  color: #3EAB90;
  font-size: 30px;
  padding-bottom: 40px;
  font-weight: 400;
}
@media screen and (max-width: 991px) {
  .developer_section h5 {
    text-align: center;
  }
}
.developer_section .dev_left {
  border-radius: 20px;
  padding: 15px;
}
@media screen and (max-width: 767px) {
  .developer_section .dev_left {
    padding: 15px 0;
  }
}
.developer_section .dev_left .row {
  margin: 30px 0px;
}
.developer_section .dev_left .dev_card_1 {
  justify-content: end;
}
.developer_section .dev_left .dev_card {
  background-color: #1A2D2C;
  padding: 25px;
  border-radius: 12px;
  border: solid 1px transparent;
  --border-angle: 0turn;
  --main-bg: linear-gradient(rgb(0, 0, 0) 0%, rgb(18, 116, 117) 100%);
  --gradient-border: conic-gradient(from var(--border-angle), transparent 10%, #05311d, #3EAB90 49%, transparent);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 8s linear infinite;
}
.developer_section .dev_left .dev_card:hover {
  --gradient-border: conic-gradient(from var(--border-angle), transparent 50%, #F7C35F, #3EAB90 99%, transparent);
}
@media screen and (max-width: 991px) {
  .developer_section .dev_left .dev_card:hover {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .developer_section .dev_left .dev_card {
    text-align: center;
  }
}
.developer_section .dev_left .dev_card .dev_card_logo {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.developer_section .dev_left .dev_card span {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background-color: #3EAB90;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.developer_section .dev_left .dev_card span img {
  width: 100%;
  height: 100%;
}
.developer_section .dev_left .dev_card h4 {
  font-size: 20px;
  font-weight: 500;
  color: #3EAB90;
  padding-bottom: 10px;
  color: #d7ba7d;
}
.developer_section .dev_left .dev_card p {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 0px;
  transition: all 0.6s ease;
}
.developer_section .code-container {
  white-space: pre; /* Preserve code formatting */
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  text-align: left; /* Align text to the left */
  max-width: 100%; /* Allow the code to wrap naturally */
}
.developer_section #typingEffect {
  color: #d7ba7d;
  border-top: 1px solid rgba(100, 116, 139, 0.3019607843);
  position: relative;
}
.developer_section #editor {
  background-color: #1A2D2C; /* Editor background */
  color: #d4d4d4; /* Text color */
  border: 1px solid rgba(100, 116, 139, 0.3019607843); /* Border similar to VS Code */
  border-radius: 8px;
  padding: 30px 0px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #1A2C2A 0%,
      #1A2C2A 100%
      );
  border: solid 1px transparent;
  border-radius: 1em;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 50%, #f7c35f33, #3EAB90 99%, transparent);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
  animation-delay: 0.5s;
  min-height: auto;
  height: 205px;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.developer_section #editor .CodeMirror-scroll {
  background-color: #1A2D2C !important;
}
.developer_section #editor .CodeMirror-scroll .CodeMirror-gutter {
  background-color: #1A2D2C !important;
}
.developer_section #editor .CodeMirror-scroll .cm-keyword {
  color: #569CD6 !important;
}
.developer_section #editor .CodeMirror-scroll .cm-def {
  color: #d4d4d4 !important;
}
.developer_section #editor .CodeMirror-scroll .CodeMirror-code {
  color: #d4d4d4 !important;
}
.developer_section #editor .CodeMirror-scroll .cm-variable {
  color: #569CD6 !important;
}
.developer_section #editor .CodeMirror-scroll .cm-string {
  color: #CE9178 !important;
}
.developer_section #editor .CodeMirror-scroll .cm-number {
  color: #B5CEA8 !important;
}
.developer_section #editor .CodeMirror-scroll .cm-property {
  color: #d4d4d4 !important;
}
.developer_section .CodeMirror-gutters {
  border-right: 1px solid rgba(100, 116, 139, 0.3019607843) !important;
  background-color: rgba(100, 116, 139, 0.3019607843) !important;
}
.developer_section textarea {
  display: none;
}
.developer_section .line {
  display: block;
}
.developer_section ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  position: absolute;
  top: 5px;
  left: 5px;
}
.developer_section ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 3px;
}
.developer_section ul .btn_1 {
  background-color: #f45450;
}
.developer_section ul .btn_2 {
  background-color: #f4b63d;
}
.developer_section ul .btn_3 {
  background-color: #30c145;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}