@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
/* PANELS */
.panel__stack {
  --spacer: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  overflow-y: visible;
}

.panel__stack .panel__card {
  display: flex;
  flex-direction: column;
  grid-area: 1/1/2/2;
  border-radius: 8px;
  padding: 0rem;
  position: absolute;
  height: 43rem;
  will-change: transform;
  background-color: #1a2c2a;
  box-shadow: 0px 0px 8px rgba(16, 106, 64, 0.3607843137);
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #151616 0%, #151616 100%
      );
  border: solid 1px transparent;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 10%, #05311d, #3EAB90 49%, transparent);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 12s linear infinite;
}
.panel__stack .panel__card.active {
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #1A2C2A 0%,
      #1A2C2A 100%
      );
  border: solid 1px transparent;
  --gradient-border: conic-gradient(from var(--border-angle), rgba(2, 237, 104, 0) 7.95474deg, rgb(34 254 179) 77.822552deg, rgba(10, 10, 10, 0) 182.574207deg, rgba(10, 10, 10, 0) 204.015297deg, #f7c35f 258.393755deg, rgba(0, 157, 255, 0) 354.246679deg);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #151616 0%, #151616 100%
    );
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@media screen and (min-width: 1600px) {
  .panel__stack .panel__card {
    justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .panel__stack .panel__card {
    grid-area: unset;
    position: unset;
    margin-top: 20px;
    padding: 1.5rem;
    height: auto !important;
    width: 100%;
  }
}
@media screen and (max-width: 1600px) {
  .panel__stack .panel__card {
    height: 34rem;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.panel__stack .panel__card:nth-child(1) {
  animation-delay: 0s;
}

.panel__stack .panel__card:nth-child(2) {
  animation-delay: 0.5s;
}

.panel__stack .panel__card:nth-child(3) {
  animation-delay: 1s;
}

.panel__stack .panel__card:nth-child(4) {
  animation-delay: 1.5s;
}

.panel__stack .panel__card:first-child {
  top: calc(var(--spacer) * 1);
  z-index: 1;
}

.panel__stack .panel__card:nth-child(2) {
  top: calc(var(--spacer) * 2);
  z-index: 2;
}

.panel__stack .panel__card:nth-child(3) {
  top: calc(var(--spacer) * 3);
  z-index: 3;
}

.panel__stack .panel__card:last-child {
  top: calc(var(--spacer) * 4);
  z-index: 4;
}

.panel__content {
  width: 48%;
}

.panel__image {
  width: 52%;
}

.panel__image img {
  max-height: 30rem;
}

.panel__card__img {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 48px;
  max-width: 450px;
  width: 100%;
  margin-left: auto;
  position: relative;
}

.sticky-notes {
  width: 209px;
  padding: 10px 15px;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: -70px;
  bottom: 30px;
}

.sticky-notes .draw-line {
  position: absolute;
  top: -70px;
  left: -80px;
}

.sticky-notes__items {
  gap: 10px;
}

.sticky-notes__items div {
  padding: 10px 30px;
  border-radius: 8px;
}

.sticky-notes__items div:first-child {
  background-color: #fad1d1;
  color: #d92d20;
}

.sticky-notes__items div:nth-child(2) {
  background-color: #f4fad1;
  color: #f79009;
}

.sticky-notes__items div:last-child {
  background-color: #d1fadf;
  color: #039855;
}

.sticky-card {
  padding: 10px 15px;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  right: -70px;
  top: 30px;
  max-width: 210px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.sticky-card .checkbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #d0d5dd;
  border-radius: 5px;
  vertical-align: middle;
}

.sticky-cards__items {
  gap: 10px;
}

.sticky-card.sticky-card-left {
  bottom: 50px;
  left: -100px;
  top: initial;
}

.panel__card--one .panel__card__img {
  background-color: #a9a3ff;
}

.panel__card--two .panel__card__img {
  background-color: #d1f2ff;
}

.panel__card--three .panel__card__img {
  background-color: #ffc183;
}

.panel__card--four .panel__card__img {
  background-color: #98d89c;
}

.panel {
  padding-top: 80px !important;
  position: relative;
  z-index: 9;
}
@media screen and (max-width: 767px) {
  .panel {
    padding-top: 20px !important;
  }
}
.panel .panel__options {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.panel .panel__options span {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
  padding: 12px 0;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}
@media screen and (max-width: 1600px) {
  .panel .panel__options span {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1199px) {
  .panel .panel__options {
    display: none;
  }
}
.panel .panel__stack .panel__card h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin: 20px 35px;
}
@media screen and (max-width: 991px) {
  .panel .panel__stack .panel__card h2 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 10px;
  }
}
.panel .panel__stack .panel__card .nav.nav-pills {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 35px;
}
.panel .panel__stack .panel__card .nav.nav-pills li {
  margin-right: 30px;
}
.panel .panel__stack .panel__card .nav.nav-pills li .nav-link {
  color: #ffffff;
  font-size: 20px;
  padding: 0;
  padding-bottom: 10px;
  border-radius: unset;
  background-color: transparent;
}
.panel .panel__stack .panel__card .nav.nav-pills li .nav-link.active {
  background-color: transparent;
  border-bottom: 3px solid #3eab90;
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card {
    width: 100%;
  }
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay {
  border-radius: 8px;
  width: 33.3%;
  background-repeat: no-repeat;
  padding: 0px 50px;
  position: relative;
  transform: perspective(600px) rotateY(0deg);
  transition: all ease-in-out 0.6s;
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay:hover {
  transform: perspective(600px) rotateY(5deg);
}
@media screen and (min-width: 0px) and (max-width: 419px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay {
    width: 100%;
    padding: 0px 24px;
  }
}
@media screen and (min-width: 420px) and (max-width: 490px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay {
    width: 100%;
    padding: 0px 70px;
  }
}
@media screen and (min-width: 490px) and (max-width: 767px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay {
    width: 100%;
    padding: 0px 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay {
    width: calc(50% - 20px);
    padding: 0px 30px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay {
    padding: 0px 30px;
  }
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .feature-animate-icon svg {
  width: 100%;
  height: 270px !important;
}
@media screen and (max-width: 767px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .feature-animate-icon svg {
    height: auto;
  }
}
@media screen and (min-width: 991px) and (max-width: 1200px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .feature-animate-icon svg {
    height: 224px !important;
  }
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay > img {
  width: 100%;
  height: 270px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay > img {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay > img {
    width: 100%;
    height: auto;
  }
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text {
  padding: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text h3 {
  color: #3eab90;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
}
@media screen and (max-width: 1199px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text h3 {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text h3 {
    font-size: 16px;
    line-height: 18px;
  }
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  min-height: 60px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1400px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 1.5rem;
  }
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text a {
  display: none;
  color: #3eab90;
  font-size: 14px;
  text-decoration: none;
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text .bottom-img {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  top: -8px;
}
.panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text .bottom-img img {
  width: 30px;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text .bottom-img img {
    height: auto;
  }
}
@media screen and (max-width: 1199px) {
  .panel .panel__stack .panel__card .tab-content .fz-tab-card .item-pay .item-pay-text .bottom-img {
    top: -15px;
  }
}