@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.footer_section {
  background: linear-gradient(359.8deg, rgba(0, 0, 0, 0.46) 5.16%, rgba(97, 97, 97, 0.22) 99.83%);
  background-color: #000000;
  padding: 150px 0px 0;
}
@media screen and (max-width: 991px) {
  .footer_section {
    padding: 60px 0px 0;
  }
}
.footer_section .fz_footer_container {
  display: flex;
  gap: 50px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer_section .fz_footer_container {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .footer_section .fz_footer_container {
    display: block;
  }
}
.footer_section .fz_footer_container .footer-brand {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 330px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer_section .fz_footer_container .footer-brand {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .footer_section .fz_footer_container .footer-brand {
    padding-bottom: 30px;
  }
}
.footer_section .fz_footer_container .footer-brand .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c3f53c;
  text-decoration: none;
}
.footer_section .fz_footer_container .footer-brand p {
  color: #949894;
  font-size: 14px;
  width: 315px;
  text-decoration: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer_section .fz_footer_container .footer-brand p {
    text-align: center;
  }
}
.footer_section .fz_footer_container .social-links {
  display: flex;
  gap: 1.5rem;
}
.footer_section .fz_footer_container .social-links .icon {
  padding: 4px 10px;
  text-decoration: none;
  color: #c7c7c7;
  background-color: rgba(0, 237, 255, 0.1607843137);
  border-radius: 4px;
  border: solid 1px transparent;
}
.footer_section .fz_footer_container .social-links .icon:hover {
  color: #0b0d0d;
  border-color: #05311d;
  --border-angle: -160deg;
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  --main-bg: conic-gradient(from var(--border-angle), #000 0%, rgb(0, 0, 0) 100%);
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #000000, #00ffc0 50%, transparent);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  transition: --border-angle 2s ease-in-out;
  border: solid 1px transparent;
}
.footer_section .fz_footer_container .social-links .icon:hover svg path {
  fill: #3eab90; /* Change to your preferred color */
}
.footer_section .fz_footer_container .social-links .icon svg {
  width: 14px;
  height: 14px;
}
.footer_section .fz_footer_container .footer_list_link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  color: #c7c7c7;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer_section .fz_footer_container .footer_list_link {
    gap: 75px;
    width: 70%;
    margin: 40px auto;
  }
}
@media screen and (max-width: 991px) {
  .footer_section .fz_footer_container .footer_list_link {
    display: block;
  }
}
.footer_section .fz_footer_container .footer_list_link .links-group h4 {
  color: #C7DAD9;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
}
@media screen and (max-width: 991px) {
  .footer_section .fz_footer_container .footer_list_link .links-group h4 {
    line-height: 10px;
    margin: 25px 0px 0px 0px;
  }
}
.footer_section .fz_footer_container .footer_list_link .links-group ul {
  list-style: none;
  margin-top: 14px;
}
@media screen and (max-width: 991px) {
  .footer_section .fz_footer_container .footer_list_link .links-group ul {
    margin-top: 8px;
  }
}
.footer_section .fz_footer_container .footer_list_link .links-group ul li {
  padding: 3px 0px;
}
.footer_section .fz_footer_container .footer_list_link .links-group ul li a {
  color: #949894;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.footer_section .fz_footer_container .footer_list_link .links-group ul li a:hover {
  color: #00B2B1;
  letter-spacing: 0.4px;
  transition: all 1s ease;
}
.footer_section .fz_footer_container .subscribe {
  width: 250px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer_section .fz_footer_container .subscribe {
    width: 400px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .footer_section .fz_footer_container .subscribe {
    margin: 30px 0px;
  }
}
.footer_section .fz_footer_container .subscribe p {
  font-size: 18px;
  color: #C7DAD9;
  font-weight: 400;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer_section .fz_footer_container .subscribe p {
    text-align: center;
  }
}
.footer_section .fz_footer_container .subscribe .subscribe-form {
  position: relative;
  margin: 20px 0px;
  display: inline-block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer_section .fz_footer_container .subscribe .subscribe-form {
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
@media screen and (max-width: 991px) {
  .footer_section .fz_footer_container .subscribe .subscribe-form {
    margin: 0;
  }
}
.footer_section .fz_footer_container .subscribe .subscribe-form input {
  width: 290px;
  padding: 16px;
  font-size: 14px;
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  border-radius: 96px;
  color: #ffffff;
  border: solid 1px transparent;
  --main-bg: conic-gradient(from var(--border-angle), #000 0%, rgb(0, 0, 0) 100%);
  --gradient-border: conic-gradient(from var(--border-angle), transparent 10%, #05311d, #3eab90 49%, transparent);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  animation: bg-spin 6s linear infinite;
  cursor: pointer;
  position: relative;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.footer_section .fz_footer_container .subscribe .subscribe-form input::placeholder {
  color: rgba(228, 241, 242, 0.3490196078);
}
.footer_section .fz_footer_container .subscribe .subscribe-form input:hover {
  border: 1px solid #3eab90;
  transition: all 4s ease;
}
.footer_section .fz_footer_container .subscribe .subscribe-form input:focus {
  outline: 0;
  box-shadow: rgb(0, 178, 177) 0 0 5px 3px;
}
.footer_section .fz_footer_container .subscribe .subscribe-form .footer_arrow img {
  position: absolute;
  right: 19px;
  bottom: 19px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .footer_section .fz_footer_container .subscribe .subscribe-form .footer_arrow img {
    right: 75px;
  }
}
.footer_section .footer-bottom .horizontal-line {
  border: none;
  border-top: 1px solid #FCFCFC;
  margin: 50px auto 5px auto;
  width: 84%;
  opacity: 24%;
}
.footer_section .footer-bottom p {
  color: #949894;
  text-align: center;
  padding: 10px 0px 50px 0px;
  text-decoration: none;
}

/* =======scroll====top===== */
#scroll_top {
  display: inline-block;
  background-color: #3EAB90;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 125px;
  right: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scroll_top::after {
  display: none;
}
#scroll_top .black_arrow {
  display: none;
}
#scroll_top:hover {
  cursor: pointer;
  background-color: #FFFFFF;
  border: 2px solid #3EAB90;
}
#scroll_top:hover .black_arrow {
  display: block;
}
#scroll_top:hover .white_arrow {
  display: none;
}
#scroll_top:active {
  background-color: #FFFFFF;
}
#scroll_top.show {
  opacity: 0.3;
  visibility: visible;
}
#scroll_top.show:hover {
  opacity: 1;
}
#scroll_top svg {
  width: 20px;
}

#page-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: url("../../assets/images/finzor-loading.gif") center no-repeat #000;
}
@media screen and (max-width: 767px) {
  #page-loader {
    background-size: contain;
  }
}

.footer-bg img {
  width: 100%;
}

.chat-bot {
  position: fixed;
  right: -5px;
  bottom: 5px;
  cursor: pointer;
  display: inline-flex;
  width: 120px;
  z-index: 99;
}
.chat-bot img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}