@charset "UTF-8";
@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
body {
  background-color: #000000;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000000;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  padding: 0px 40px;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: #d6ca8a;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: rgba(3, 0, 20, 0.08);
}
@media (max-width: 1199px) {
  header {
    padding: 0px;
  }
}
header .navbar-brand svg path {
  fill: #22feb3;
}
@media screen and (max-width: 991px) {
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar .btn-close {
    background-color: transparent;
    border: none;
    opacity: 1;
  }
  header .navbar .btn-close::before {
    content: "✕";
    color: #3eab90;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
  }
  header .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 999;
    padding: 15px 0;
    border-top: 1px solid #979797;
  }
  header .navbar .navbar-collapse ul.navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  header .navbar .navbar-collapse ul.navbar-nav li {
    width: 100%;
    text-align: left;
  }
  header .navbar .navbar-collapse ul.navbar-nav li a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
  }
  header .navbar .navbar-collapse ul.navbar-nav li a:hover {
    background-color: #1a2c2a;
  }
  header .navbar .navbar-toggler {
    background-color: transparent;
    border: none;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  header .navbar #offcanvasNavbar {
    background-color: #000000;
    width: 100%;
  }
  header .navbar #offcanvasNavbar .offcanvas-header {
    border-bottom: 1px solid #ddd;
  }
}
header .navbar-expand-lg .navbar-nav {
  flex: 1;
  justify-content: flex-end;
  padding: 10px;
}
header .navbar-expand-lg .navbar-nav li {
  padding: 0px 15px;
  font-size: 14px;
}
header .navbar-expand-lg .navbar-nav li a.nav-link {
  font-weight: 400;
  color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}
header .navbar-expand-lg .navbar-nav li a.nav-link::after {
  display: block;
  content: "";
  border-bottom: solid 2px #f7c35f;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}
@media screen and (max-width: 991px) {
  header .navbar-expand-lg .navbar-nav li a.nav-link::after {
    border-bottom: none;
    transform: scale(none);
  }
}
header .navbar-expand-lg .navbar-nav li a.nav-link:hover {
  color: #f7c35f;
}
header .navbar-expand-lg .navbar-nav li a.nav-link:hover:after {
  transform: scaleX(1);
}
@media screen and (max-width: 991px) {
  header .navbar-expand-lg .navbar-nav li {
    padding: 10px 5px;
    color: #ffffff;
  }
}
@media screen and (max-width: 991px) {
  header .fz_sigin {
    justify-content: center;
  }
}
header .fz_sigin ul {
  display: flex;
  align-items: center;
}
header .fz_sigin ul li {
  display: inline-flex;
}
header .fz_sigin ul li .tele_img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  padding-left: 3px;
}
header .fz_sigin ul li a {
  color: #ffffff;
  font-size: 14px;
  display: inline-flex;
  text-decoration: none;
}
header .fz_sigin ul li a span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header .fz_sigin ul li a span svg {
  width: 15px;
  margin-left: 7px;
}
header .fz_sigin ul li a span svg path {
  fill: #fff;
}
header .fz_sigin ul li:nth-child(2) {
  padding-left: 10px;
  margin-left: 10px;
}
@media screen and (max-width: 991px) {
  header .fz_sigin ul li:nth-child(2) {
    border: none;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  header .fz_sigin ul li:nth-child(2) {
    padding-left: 10px;
  }
}
header .fz_sigin ul li:last-child {
  margin-left: 15px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  header .fz_sigin ul li:last-child {
    margin-left: 0;
    padding-left: 10px;
  }
}
header .fz_sigin ul .unlock a:hover {
  color: #f7c35f;
}
header .fz_sigin ul .unlock a:hover svg path {
  fill: #f7c35f;
}
@media screen and (max-width: 991px) {
  header .fz_sigin ul .flag-img {
    display: none;
  }
}

.offcanvas-backdrop {
  position: relative;
}

.buttons {
  height: 50px;
  border-radius: 32px;
  background-color: transparent;
  outline: none;
  border: 1px solid #309393;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  padding: 0px 20px 0 25px;
}
.buttons .text {
  position: relative;
  left: 10px;
  transition: all 1s ease;
}
.buttons img {
  opacity: 0;
  transition: all 1s ease;
}
.buttons .icon {
  margin-left: 10px;
}
.buttons:hover {
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 32px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  --box-glow-color: var(--color);
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
.buttons:hover img {
  opacity: 1;
}
.buttons:hover .icon {
  margin-left: 10px;
}
.buttons:hover .text {
  position: relative;
  left: 0px;
}
@media screen and (max-width: 375px) {
  .buttons:hover {
    font-size: 13px;
  }
}

.onboard_btn .buttons {
  z-index: 2;
  font-size: 14px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(83.46deg, #00B2B1 -13.99%, #008283 31.77%, #006468 73.27%);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 135px;
  height: 40px;
  --w: 135px;
  --h: 40px;
  --icon-size: 25px;
  padding: 0px 15px !important;
}
@media (min-width: 992px) and (max-width: 1051px) {
  .onboard_btn .buttons {
    font-size: 12px;
  }
}
.onboard_btn .buttons::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #0d1918;
  border-radius: var(--h);
  z-index: 1;
  transition: transform 500ms ease;
}
.onboard_btn .buttons .text,
.onboard_btn .buttons .icon {
  z-index: 2;
  margin-left: 0px !important;
}
.onboard_btn .buttons .text {
  transform: translateX(-15%);
  transition: transform 500ms ease;
}
.onboard_btn .buttons .icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  left: 0;
  transform: translateX(calc((var(--w)) / 2 + 32px));
  transition: transform 500ms ease, color 500ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.onboard_btn .buttons img {
  opacity: 1 !important;
}
.onboard_btn .buttons:hover,
.onboard_btn .buttons:active {
  box-shadow: none !important;
}
.onboard_btn .buttons:hover::before,
.onboard_btn .buttons:active::before {
  transform: translateX(0%);
  box-shadow: inset 0 0px 0px 0 transparent;
}
.onboard_btn .buttons::before,
.onboard_btn .buttons:active::before {
  transform: translateX(72%);
  box-shadow: inset 0 0px 0px 0 transparent;
}
.onboard_btn .buttons:hover .text {
  left: 10px !important;
}

#lottie-animation {
  width: 100%;
  height: 100%;
  margin: auto; /* Center it horizontally */
}

.visual-desktop {
  position: relative;
  display: block;
  overflow: hidden;
}

#lottie-animation1 svg {
  width: 35px !important;
  height: 35px !important;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 960px;
  transform: translateX(-50%);
  top: 39px;
  padding: 30px;
  margin: 0 auto;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.column {
  width: 40%;
}

.column ul {
  list-style-type: none;
  padding: 0;
  display: block;
}

.dropdown .column ul li a {
  color: white;
  text-decoration: none;
  justify-content: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.dropdown .column ul li {
  padding: 25px 15px 10px 15px;
  line-height: 24px;
  transition: all 0.5s ease;
}

.content-box {
  display: flex;
  gap: 40px;
}

.dropdown .column ul li a {
  display: flex;
  justify-content: left;
  font-weight: 600;
  transition: all 0.5s ease;
  color: #ffffff;
  font-size: 18px;
}

.image-text li:hover a, .image-text li:hover p {
  cursor: pointer;
  transition: all 0.5s ease;
  color: #f7c35f !important;
}

.image-text {
  display: flex;
  padding: 0px;
  align-items: center;
}

.fz_header_svg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.image-text:hover .fz_header_svg {
  background: #f7c35f;
  border: 1px solid #f7c35f;
}