@charset "UTF-8";
@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
body {
  background-color: #000000;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000000;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

header {
  padding: 0px 40px;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background: #d6ca8a;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: rgba(3, 0, 20, 0.08);
}
@media (max-width: 991px) {
  header {
    padding: 0px;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  header {
    padding: 0px;
  }
}
header .navbar-brand svg path {
  fill: #22feb3;
}
@media screen and (max-width: 991px) {
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar .btn-close {
    background-color: transparent;
    border: none;
    opacity: 1;
  }
  header .navbar .btn-close::before {
    content: "✕";
    color: #3eab90;
    font-size: 1.5rem;
    display: inline-block;
    line-height: 1;
  }
  header .navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000000;
    z-index: 999;
    padding: 15px 0;
    border-top: 1px solid #979797;
  }
  header .navbar .navbar-collapse ul.navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  header .navbar .navbar-collapse ul.navbar-nav li {
    width: 100%;
    text-align: left;
  }
  header .navbar .navbar-collapse ul.navbar-nav li a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
  }
  header .navbar .navbar-collapse ul.navbar-nav li a:hover {
    background-color: #1a2c2a;
  }
  header .navbar .navbar-toggler {
    background-color: transparent;
    border: none;
  }
  header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  header .navbar #offcanvasNavbar {
    background-color: #000;
    width: 100%;
  }
  header .navbar #offcanvasNavbar .offcanvas-header {
    border-bottom: 1px solid #ddd;
  }
}
header .navbar-expand-lg .navbar-nav {
  flex: 1;
  justify-content: flex-end;
  padding: 10px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  header .navbar-expand-lg .navbar-nav {
    justify-content: space-between;
    padding: 10px 10px;
  }
}
header .navbar-expand-lg .navbar-nav li {
  padding: 0px 15px;
  font-size: 14px;
}
header .navbar-expand-lg .navbar-nav li a.nav-link {
  font-weight: 400;
  color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}
header .navbar-expand-lg .navbar-nav li a.nav-link::after {
  display: block;
  content: "";
  border-bottom: solid 2px #f7c35f;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}
header .navbar-expand-lg .navbar-nav li a.nav-link:hover {
  color: #f7c35f;
}
header .navbar-expand-lg .navbar-nav li a.nav-link:hover:after {
  transform: scaleX(1);
}
@media (min-width: 992px) and (max-width: 1300px) {
  header .navbar-expand-lg .navbar-nav li {
    font-size: 14px;
    padding: 10px 10px;
  }
}
@media screen and (max-width: 991px) {
  header .navbar-expand-lg .navbar-nav li {
    padding: 10px 5px;
    color: #ffffff;
  }
}
@media screen and (max-width: 991px) {
  header .fz_sigin {
    justify-content: center;
  }
}
header .fz_sigin ul {
  display: flex;
  align-items: center;
}
header .fz_sigin ul li {
  display: inline-block;
}
header .fz_sigin ul li .tele_img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  padding-left: 3px;
}
header .fz_sigin ul li a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
header .fz_sigin ul li a span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header .fz_sigin ul li a span svg {
  width: 15px;
  margin-left: 7px;
}
header .fz_sigin ul li a span svg path {
  fill: #fff;
}
@media (min-width: 992px) and (max-width: 1300px) {
  header .fz_sigin ul li a {
    font-size: 14px;
  }
}
header .fz_sigin ul li:nth-child(2) {
  border-left: 1px solid #3eab90;
  padding-left: 15px;
  margin-left: 15px;
}
@media screen and (max-width: 991px) {
  header .fz_sigin ul li:nth-child(2) {
    border: none;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  header .fz_sigin ul li:nth-child(2) {
    padding-left: 10px;
  }
}
header .fz_sigin ul li:last-child {
  margin-left: 15px;
}
@media (min-width: 992px) and (max-width: 1300px) {
  header .fz_sigin ul li:last-child {
    margin-left: 0;
    padding-left: 10px;
  }
}
header .fz_sigin ul li:last-child a {
  background-color: #1a2c2a;
  padding: 10px 15px;
  border-radius: 35px;
  border: 1px solid #ffffff;
  --border-angle: 0turn;
  --main-bg:conic-gradient(from var(--border-angle), #007164 0%, #007264 100%);
  border: solid 1px transparent;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 50%,
    #f7c35f,
    #3eab90 99%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 4s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
header .fz_sigin ul .unlock a:hover {
  color: #f7c35f;
}
header .fz_sigin ul .unlock a:hover svg path {
  fill: #f7c35f;
}
@media screen and (max-width: 991px) {
  header .fz_sigin ul img {
    display: none;
  }
}

.offcanvas-backdrop {
  position: relative;
}

.buttons {
  height: 50px;
  border-radius: 32px;
  background-color: transparent;
  outline: none;
  border: 1px solid #309393;
  font-size: 16px;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
  padding: 0px 20px 0 25px;
}
.buttons .text {
  position: relative;
  left: 10px;
  transition: all 1s ease;
}
.buttons img {
  opacity: 0;
  transition: all 1s ease;
}
.buttons .icon {
  margin-left: 10px;
}
.buttons:hover {
  padding: 0px 20px 0 25px;
  --text-color: rgb(210 210 240);
  --box-glow-color: transparent;
  --box-glow-blur: 32px;
  --color: #00afaf85;
  position: relative;
  border: none;
  box-shadow: 0px 3px 0 0px #31b2b2, 0 0 var(--box-glow-blur) var(--box-glow-color), inset 0 0 26px -10px rgba(29, 77, 45, 0.3607843137);
  transition: box-shadow 1s ease;
  --box-glow-color: var(--color);
  z-index: 2;
  font-size: 16px;
  border: 1px solid rgba(62, 171, 144, 0.568627451);
  background: linear-gradient(0deg, rgb(45, 73, 73) 0%, rgb(49, 178, 178) 100%);
}
.buttons:hover img {
  opacity: 1;
}
.buttons:hover .icon {
  margin-left: 10px;
}
.buttons:hover .text {
  position: relative;
  left: 0px;
}