.container-login {
  padding-top: 120px;
}

.intro {
  color: white;
  justify-content: center;
  text-align: center;
}

.signup-container {
  background: white;
  padding: 48px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  margin: 30px auto;
}

h3 {
  margin-bottom: 10px;
  color: #999;
  font-size: 12px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.social-buttons button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.social-buttons .google {
  background: hsl(0, 0%, 96%);
  color: rgb(109, 141, 217);
}
.social-buttons img {
  width: 16px;
  margin-right: 5px;
}

.divider {
  margin: 10px 0;
  font-size: 12px;
  color: #999;
}

.input-group {
  display: flex;
  align-items: center;
  background: #f0f0f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
}

input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 14px;
}

.password-strength {
  text-align: left;
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}
.password-strength .strong {
  color: green;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
  justify-content: flex-start;
}

.submit-btn {
  width: 153px;
  height: 43px;
  padding: 10px;
  background: #4950da;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}
.submit-btn:hover {
  background: #3b42b0;
}