@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
#logo_marquee {
  --space: 5px;
  background-color: #1A2C2A;
  padding: 20px 0;
  display: none;
}
#logo_marquee img {
  height: 40px;
}