@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
.newsletter_section {
  background-color: #000000;
  text-align: center;
  padding: 90px 0px 0;
}
@media screen and (max-width: 992px) {
  .newsletter_section {
    padding-bottom: 30px;
  }
}
.newsletter_section h3 {
  color: #3EAB90;
  font-size: 60px;
  font-weight: 500;
  line-height: 70.31px;
  margin-bottom: 0px;
}
@media screen and (max-width: 992px) {
  .newsletter_section h3 {
    font-size: 50px;
    line-height: 55px;
  }
}
.newsletter_section h5 {
  font-size: 35px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 15px;
}
@media screen and (max-width: 992px) {
  .newsletter_section h5 {
    font-size: 30px;
    line-height: 40px;
  }
}
.newsletter_section .input-group {
  width: 636.71px;
  height: 71px;
  gap: 0px;
  border-radius: 0px 8px 8px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin: 0 auto;
  margin-top: 72px;
  border: none;
}
@media screen and (max-width: 992px) {
  .newsletter_section .input-group {
    width: auto;
    margin-top: 40px;
  }
}
.newsletter_section .input-group button {
  background-color: #3EAB90 !important;
  width: 165px;
  height: 71px;
  gap: 0px;
  border-radius: 0px 8px 8px 0px;
  opacity: 0px;
}
@media screen and (max-width: 992px) {
  .newsletter_section .input-group button {
    width: auto;
  }
}