@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.play_store_section {
  background-color: #000000;
  padding: 20px 0px;
}
@media screen and (max-width: 767px) {
  .play_store_section {
    padding: 0px 20px;
  }
  .play_store_section .container {
    padding: 0;
  }
}
.play_store_section .play_store_container {
  background-color: #1D2020;
  border-radius: 20px;
  position: relative;
  top: 100px;
  z-index: 0;
  overflow: hidden;
  border-radius: 12px;
  border: solid 1px transparent;
  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle), #000 0%, rgb(0, 0, 0) 100%);
  --gradient-border: conic-gradient(from var(--border-angle), transparent 10%, #05311d, #3EAB90 49%, transparent);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  animation: bg-spin 8s linear infinite;
}
@media screen and (max-width: 991px) {
  .play_store_section .play_store_container {
    padding: 60px 0px 0px 0px;
    top: 0px;
  }
}
@media screen and (max-width: 767px) {
  .play_store_section .play_store_container {
    padding: 30px 0px 0px 0px;
    border-radius: 20px;
  }
}
.play_store_section .play_store_container:after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  top: 225px;
  left: -78px;
  background-color: #1a2c2a;
  border-radius: 50%;
  filter: blur(152px);
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.play_store_section .play_store_container::before {
  content: "";
  position: absolute;
  width: 525px;
  height: 525px;
  top: 150px;
  right: 113px;
  background-color: #1a2c2a;
  border-radius: 50%;
  filter: blur(152px);
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
.play_store_section h2 {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 72px;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  .play_store_section h2 {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  .play_store_section h2 {
    font-size: 36px;
    line-height: 46px;
    text-align: left;
  }
}
.play_store_section ul {
  padding: 0;
  margin: 10px 20px 20px;
}
.play_store_section ul li {
  line-height: 25px;
  color: #dfb946;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .play_store_section ul {
    list-style: none;
  }
}
.play_store_section p {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  color: #889795;
  margin: 0 0px 20px;
}
.play_store_section .play_store_right {
  display: flex;
  border-bottom-right-radius: 40px;
}
.play_store_section .play_store_right svg {
  height: 100%;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .play_store_section .play_store_right {
    justify-content: right;
  }
}
.play_store_section .play_store_right img {
  position: relative;
  z-index: 2;
}
.play_store_section .play_store_right img:first-child {
  z-index: 9;
}
.play_store_section .play_store_right img:last-child {
  right: 38px;
}
@media screen and (max-width: 991px) {
  .play_store_section .play_store_right img {
    height: 460px;
    margin: 15px;
  }
}
.play_store_section .play_store_left {
  position: relative;
  z-index: 2;
  padding: 40px 70px 28px;
}
@media screen and (max-width: 991px) {
  .play_store_section .play_store_left {
    padding: 0px;
  }
  .play_store_section .play_store_left br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .play_store_section .play_store_left {
    padding: 0px 15px;
  }
}
.play_store_section .play_store_left .store_images img {
  padding-right: 24px;
}
@media screen and (max-width: 991px) {
  .play_store_section .play_store_left .store_images img {
    padding: 0;
  }
}
.play_store_section .play_store_left .start_now_btn {
  margin-bottom: 50px;
}
.play_store_section .play_store_left .start_now_btn .dedcription-btn {
  position: relative;
  display: inline-block;
  border-radius: 30px;
  background-color: #000000;
  color: #3eab90;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  transition: all 0.3s;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06);
  text-decoration: none;
  border: 1px solid #3eab90;
}
.play_store_section .play_store_left .start_now_btn .dedcription-btn .btn-icon {
  background-color: #ffffff;
  width: 68px;
  height: 45px;
  float: right;
  position: absolute;
  border-radius: 30px 30px 30px 0;
  right: 0px;
  top: 0px;
  transition: all 0.3s;
}
.play_store_section .play_store_left .start_now_btn .name-descripeion {
  position: relative;
  z-index: 9999;
  font-weight: 300;
}
.play_store_section .play_store_left .start_now_btn .name-descripeion:hover {
  color: #fff;
}
.play_store_section .play_store_left .start_now_btn .btn-icon::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 45px solid #000000;
  border-right: 40px solid transparent;
  position: absolute;
  top: 0px;
  left: 0px;
}
.play_store_section .play_store_left .start_now_btn .dedcription-btn:hover .btn-icon {
  width: 100%;
  border-radius: 30px;
}
.play_store_section .play_store_left .start_now_btn .dedcription-btn:hover .btn-icon::after {
  display: none;
  opacity: 0.1;
}
.play_store_section .play_store_left .start_now_btn .btn-icon img {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #ffffff;
}
.play_store_section .play_store_left .start_now_btn .dedcription-btn:hover {
  color: #3eab90 !important;
}
.play_store_section .play_store_left .start_now_btn .hover-box {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .play_store_section .play_store_left .start_now_btn .hover-box {
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .play_store_section .play_store_left .store_images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
