.privacy_policy {
  background-color: black;
  padding: 130px 40px;
}
.privacy_policy .privacy_policy_top_part_img img {
  width: 25%;
  display: flex;
  margin: 0 auto;
}
.privacy_policy h1 {
  color: #3eab90;
  font-weight: 600;
  font-size: 45px;
}
.privacy_policy h3 {
  color: #00B2B1;
  font-weight: 400;
  font-size: 20px;
}
.privacy_policy h4 {
  color: #3eab90;
  font-weight: 400;
  font-size: 18px;
}
.privacy_policy p {
  font-weight: 300;
  font-size: 16px;
  color: white;
}
.privacy_policy ul li {
  list-style: none;
  color: white;
}