@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.fz_product_sec {
  position: relative;
  z-index: 0;
}
.fz_product_sec .container {
  display: flex;
  justify-content: space-between;
}
.fz_product_sec .container .fz_product_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
  gap: 24px;
}
.fz_product_sec .container .fz_product_left .fz_sub_container {
  display: flex;
  height: 100vh;
}
@media only screen and (max-width: 1200px) {
  .fz_product_sec .container .fz_product_left .fz_sub_container {
    height: auto;
    flex-direction: column;
    gap: 24px;
  }
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content {
  position: relative;
  width: 620px;
}
@media only screen and (max-width: 1200px) {
  .fz_product_sec .container .fz_product_left .fz_sub_container .fz_content {
    width: 100%;
  }
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_num {
  display: flex;
  transition: all 0.5s ease-in;
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_num h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 128px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 18px;
  margin: 0;
}
@media only screen and (max-width: 1200px) {
  .fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_num h2 {
    font-size: 104px;
    padding-top: 13px;
  }
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_title_content {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_title_content h3 {
  line-height: 75px;
  font-size: 128px;
  font-weight: 600;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_title_content h3 {
    font-size: 80px;
  }
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  color: #34b195;
  padding-bottom: 2px;
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_subtitle {
  font-size: 12px;
  font-weight: 200;
  line-height: 26px;
  color: #f8d796;
  border: 1px solid rgba(247, 195, 95, 0.231372549);
  border-radius: 20px;
  background: rgba(25, 135, 84, 0.031372549);
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 20px;
  margin-bottom: 0px;
}
@media screen and (max-width: 1200px) {
  .fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_subtitle {
    line-height: 40px;
  }
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_bank {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 15px;
  line-height: 30px;
  letter-spacing: 0.25px;
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_desc {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 26px;
  line-height: 26px;
  letter-spacing: 0.25px;
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_btn button {
  background: #3eab90;
  color: #ffffff;
  border-radius: 32px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 20px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  width: 180px;
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_btn button svg {
  animation: moveAnimation 2s linear infinite;
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_btn button:hover {
  background-image: linear-gradient(180deg, #3eab90 0%, #003224 100%);
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_btn button .hero-join {
  line-height: 1.5;
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: -72%;
  left: 35px;
  flex-direction: column;
  transition: bottom 0.5s;
}
.fz_product_sec .container .fz_product_left .fz_sub_container .fz_content .fz_btn button:hover .hero-join {
  bottom: 12px;
}
.fz_product_sec .container .fz_product_left .fz_img {
  display: none;
}
@media screen and (max-width: 1200px) {
  .fz_product_sec .container .fz_product_left .fz_img {
    display: block;
  }
}
.fz_product_sec .container .fz_product_right {
  display: flex;
  justify-content: flex-end;
  padding-top: 120px;
}
@media screen and (max-width: 1200px) {
  .fz_product_sec .container .fz_product_right {
    display: none;
  }
}
.fz_product_sec .container .fz_product_right .fz_product_images {
  width: 525px;
  height: 525px;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .fz_product_sec .container .fz_product_right .fz_product_images {
    width: 450px;
    height: 450px;
  }
}
.fz_product_sec .container .fz_product_right .fz_product_images .fz_product_image {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: #0c83e7;
}
.fz_product_sec .container .fz_product_right .fz_product_images .fz_product_image video {
  width: 100%;
  height: 100%;
}