.terms_condition {
  background-color: black;
  padding: 130px 40px;
}
.terms_condition .terms_condition_top_part_img img {
  width: 20%;
  display: flex;
  margin: 40px auto;
}
.terms_condition h1 {
  color: #3eab90;
  font-weight: 600;
  font-size: 45px;
}
.terms_condition h3 {
  color: #00B2B1;
  font-weight: 400;
  font-size: 20px;
}
.terms_condition h4 {
  color: #3eab90;
  font-weight: 400;
  font-size: 18px;
}
.terms_condition p {
  font-weight: 300;
  font-size: 16px;
  color: white;
}
.terms_condition ul li {
  list-style: none;
  color: white;
}