@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}
.fz_testimonial {
  padding: 80px 0 0;
}
.fz_testimonial .fz_testimonial_top {
  padding-bottom: 50px;
}
@media screen and (max-width: 991px) {
  .fz_testimonial .fz_testimonial_top {
    text-align: center;
  }
}
.fz_testimonial .fz_testimonial_top h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  color: #3EAB90;
  padding-bottom: 16px;
}
.fz_testimonial .fz_testimonial_top p {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #ffffff;
}
.fz_testimonial .fz_testimonial_items {
  position: relative;
  height: 642px;
  width: 100%;
  display: flex;
  overflow: hidden;
  gap: 16px;
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item {
  position: relative;
  width: 41.6666666667%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 18px;
  transition: all 1s cubic-bezier(0.32, 0, 0.67, 0);
  cursor: pointer;
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item:not(.active) {
  filter: grayscale(100%);
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item:has(.active) {
  filter: grayscale(100%);
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item.active {
  width: 200%;
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item.active .fz_testimonial_item_content {
  transition: all 1s cubic-bezier(0.32, 0, 0.67, 0);
  bottom: 0;
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item .img {
  width: 100%;
  height: 642px;
  object-fit: cover;
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item .fz_testimonial_item_content {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -262px;
  padding: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.0039215686), rgba(0, 0, 0, 0.6784313725), #000000);
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item .fz_testimonial_item_content h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  color: #3EAB90;
  padding-bottom: 8px;
}
.fz_testimonial .fz_testimonial_items .fz_testimonial_item .fz_testimonial_item_content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}