/**/


.container-custom {
    /* padding-left: 30px;
    padding-right: 30px; */
  }

  #category-select{
    cursor: pointer;
  }

  .truncate-1-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
  }

  .truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 3em;
  }
  .post-column__image{

    width: 100%;
    height: 255px;

    @media(max-width: 990px) {
        height: auto;
    }    
  }
  
  .container-fluid {
    padding-top: 1.5rem;
  
    .primary-title {
      text-align: center;
      margin-bottom: 2rem;
    }
  
    .post-column {
      display: none;
      margin-bottom: 1rem;
      cursor: pointer;
  
      &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: all 0.5s;
  
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  
    .meta-data {
      padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  
      &__date-category {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
      }
  
      &__title {
        margin-bottom: 1rem;
      }
    }
  
    .row-custom {
  
      @media(min-width: 1921px) {
        margin-left: 10%;
        margin-right: 10%;
      }
    }
  
    .post-filter-container {
      margin-bottom: 2rem;
  
      @media(min-width: 768px) {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
  
      @media(min-width: 1140px) {
        width: 35%;
      }
  
      @media(min-width: 1920px) {
        width: 25%;
      }
  
      .secondary-title {
        text-align: left;
        margin-bottom: 1rem;
      }
  
      .filter-select-list {
        width: 100%;
        text-align: center;
        text-align-last: center;
        padding: 5px;
        border: 2px solid black;
      }
    }
  
    #load-more-container {
      display: none;
      text-align: center;
      margin-bottom: 2rem;
  
      .load-more-button {
        background-color: #000000;
        color: #FFFFFF;
        font-weight: bold;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border-radius: 8px;
        padding: 0.5rem 2rem 0.5rem 2rem;
  
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  

/* Details page css START*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
.article-container {
    font-family: Lato, sans-serif;
    display: grid;
    grid-template-columns: 4rem 3fr 1fr 2rem;
    margin-top: 2rem;
    grid-column-gap: 2rem;
  }
  
  .article-header {
    grid-column: 2 / 5;
  }
  
  .article-heading {
    font-family: Montserrat, sans-serif;
  }
  
  .article-subheading {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: smaller;
    color: #455A64;
  }
  
  .article-content {
    grid-column: 2 / 3;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .article-content .blog-real-content{
    margin: 20px 10px;
  }

  .article-content .poster-image {
    width: 100%;
    object-fit: cover;
    height: 400px;
  }
  
  .article-aside .article-heading {
    margin: 0;
    font-weight: 600;
  }
  
  
  @media only screen and (max-width: 600px) {
    .article-container {
      grid-template-columns: 2rem 3fr 1fr 2rem;
    }
    .article-content {
      grid-column: 2 / 4;
    }
    .article-aside {
      grid-column: 2 / 4;
    }
  }
  
  .article-card {
    height: 5rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin: 1rem 0;
    cursor: pointer;
  }
  
  .article-card img {
    height: 100%;
    width: 40%;
    margin-right: 0.5rem;
  }
  
  .article-card p {
    margin: 0;
  }
  
  .article-card .title {
    font-size: 0.8rem;
  }
  
  .article-card .author {
    font-size: small;
  }
  
/* Details page css END*/